@use "../functions";
@use "../vars";

@use "sass:map";

@each $name in map.keys(vars.$color-link-variants) {
    $emphasis-name: $name;

    @if map.has-key(vars.$color-variants, $name) {
        $emphasis-name: #{$name}-emphasis;
    }

    .link-#{"" + $name} {
        color: functions.color-alpha($name, var(--ui-link-opacity, 1));
        text-decoration-color: functions.color-alpha($name, var(--ui-link-underline-opacity, 1));

        &:is(:hover, :focus-visible) {
            color: functions.color-alpha($emphasis-name, var(--ui-link-opacity, 1));
            text-decoration-color: functions.color-alpha($emphasis-name, var(--ui-link-underline-opacity, 1));
        }
    }
}

.link-body-emphasis {
    color: functions.color-alpha(emphasis-color, var(--ui-link-opacity, 1));
    text-decoration-color: functions.color-alpha(emphasis-color, var(--ui-link-underline-opacity, 1));

    &:is(:hover, :focus-visible) {
        color: functions.color-alpha(emphasis-color, var(--ui-link-opacity, .75));
        text-decoration-color: functions.color-alpha(emphasis-color, var(--ui-link-underline-opacity, .75));
    }
}
