@use "../functions";
@use "../mixins";
@use "../vars";

@use "sass:map";

.fixed-top {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: vars.$fixed-z-index;
}

.fixed-bottom {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
    z-index: vars.$fixed-z-index;
}

@each $breakpoint in map.keys(vars.$breakpoints) {
    @include mixins.media-breakpoint-up($breakpoint) {
        $infix: functions.breakpoint-infix($breakpoint);

        .sticky#{$infix}-top {
            position: sticky;
            inset-block-start: 0;
            z-index: vars.$sticky-z-index;
        }
    }
}
