@use "../vars";

.ripple {
    --ui-ripple-transition-duration: #{vars.$ripple-transition-duration};

    position: relative;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    width: 2px;
    height: 2px;
    pointer-events: none;
    background-color: var(--ui-ripple-bg);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition-timing-function: ease-in-out, ease-in;
    transition-property: transform, opacity;

    &.show {
        opacity: 0;
        transform: scale(var(--ui-ripple-scale));
    }
}

@media (prefers-reduced-motion: no-preference) {
    .ripple-effect {
        transition-duration: var(--ui-ripple-transition-duration);
    }
}
