.fade {
    transition: opacity var(--ui-transition-duration) var(--ui-transition-timing-function);

    &:not(.show) {
        opacity: 0;
    }
}

.collapsing {
    overflow: hidden;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: height;

    &.collapse-horizontal {
        transition-property: width;
    }
}
