@use "../mixins";
@use "../vars";

.alert {
    --ui-alert-padding-x: #{vars.$alert-padding-x};
    --ui-alert-padding-y: #{vars.$alert-padding-y};
    --ui-alert-margin-bottom: #{vars.$alert-margin-bottom};
    --ui-alert-bg: transparent;
    --ui-alert-color: inherit;
    --ui-alert-link-color: inherit;
    --ui-alert-border-width: #{vars.$alert-border-width};
    --ui-alert-border-color: transparent;
    --ui-alert-border-radius: #{vars.$alert-border-radius};

    position: relative;
    padding: var(--ui-alert-padding-y) var(--ui-alert-padding-x);
    margin-bottom: var(--ui-alert-margin-bottom);
    color: var(--ui-alert-color);
    background-color: var(--ui-alert-bg);
    border: var(--ui-alert-border-width) var(--ui-border-style) var(--ui-alert-border-color);
    @include mixins.border-radius(var(--ui-alert-border-radius));
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: vars.$alert-link-font-weight;
    color: var(--ui-alert-link-color);
}

.alert-dismissable {
    padding-right: calc((var(--ui-alert-padding-x) * 2) + #{vars.$btn-close-width});

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--ui-alert-padding-y) var(--ui-alert-padding-x);
        color: inherit;
    }
}

@each $name, $color in vars.$color-variants {
    .alert-#{$name} {
        --ui-alert-bg: var(--ui-#{$name}-subtle);
        --ui-alert-border-color: var(--ui-#{$name}-subtle-emphasis);
        --ui-alert-color: var(--ui-#{$name}-subtle-text);
        --ui-alert-link-color: var(--ui-#{$name}-subtle-text);
    }
}
