@use "../vars";

.breadcrumb {
    --ui-breadcrumb-item-padding-x: #{vars.$breadcrumb-item-padding-x};
    --ui-breadcrumb-margin-bottom: #{vars.$breadcrumb-margin-bottom};
    --ui-breadcrumb-active-color: #{vars.$breadcrumb-active-color};
    --ui-breadcrumb-divider-color: #{vars.$breadcrumb-divider-color};
    --ui-breadcrumb-divider: "#{vars.$breadcrumb-divider}";

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-block: 0 var(--ui-breadcrumb-margin-bottom);
    margin-inline: 0;
    list-style: none;
}

.breadcrumb-item {
    display: flex;

    &.active {
        color: var(--ui-breadcrumb-active-color);
    }

    +.breadcrumb-item {
        padding-inline-start: var(--ui-breadcrumb-item-padding-x);

        &::before {
            display: inline-block;
            padding-inline-end: var(--ui-breadcrumb-item-padding-x);
            color: var(--ui-breadcrumb-divider-color);
            content: var(--ui-breadcrumb-divider);
        }
    }
}
