@use "../functions";
@use "../mixins";
@use "../vars";

.btn {
    --ui-btn-padding-x: #{vars.$btn-padding-x};
    --ui-btn-padding-y: #{vars.$btn-padding-y};
    --ui-btn-font-family: #{vars.$btn-font-family};
    --ui-btn-font-size: #{vars.$btn-font-size};
    --ui-btn-font-weight: #{vars.$btn-font-weight};
    --ui-btn-line-height: #{vars.$btn-line-height};
    --ui-btn-border-width: #{vars.$btn-border-width};
    --ui-btn-border-color: transparent;
    --ui-btn-border-radius: #{vars.$btn-border-radius};
    --ui-btn-hover-border-color: transparent;
    --ui-btn-active-border-color: #{vars.$btn-active-border-color};
    --ui-btn-disabled-opacity: #{vars.$btn-disabled-opacity};
    --ui-btn-focus-shadow-color: var(--ui-primary);
    --ui-btn-focus-box-shadow: #{vars.$btn-focus-box-shadow};
    --ui-btn-shadow-color: transparent;
    --ui-btn-highlight-box-shadow: inset 0 1px 0 transparent;
    --ui-btn-box-shadow: #{vars.$btn-box-shadow};
    --ui-btn-hover-box-shadow: #{vars.$btn-hover-box-shadow};
    --ui-btn-active-box-shadow: #{vars.$btn-active-box-shadow};
    --ui-btn-active-state-bg: var(--ui-btn-hover-bg);
    --ui-btn-active-state-border-color: var(--ui-btn-active-border-color);
    --ui-ripple-active-state-bg: var(--ui-ripple-bg);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--ui-btn-padding-y) var(--ui-btn-padding-x);
    font-family: var(--ui-btn-font-family);
    font-size: var(--ui-btn-font-size);
    font-weight: var(--ui-btn-font-weight);
    line-height: var(--ui-btn-line-height);
    vertical-align: middle;
    color: var(--ui-btn-color);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: var(--ui-btn-bg);
    border: var(--ui-btn-border-width) var(--ui-border-style) var(--ui-btn-border-color);
    box-shadow: var(--ui-btn-box-shadow);
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration-fast);
    transition-property: color, background-color, border-color, box-shadow, transform;
    @include mixins.border-radius(var(--ui-btn-border-radius));

    @at-root {

        #{&}:hover,
        .btn-check:focus-visible+#{&},
        #{&}:focus-visible {
            background-color: var(--ui-btn-hover-bg);
            border-color: var(--ui-btn-hover-border-color);
        }

        #{&}:hover {
            box-shadow: var(--ui-btn-hover-box-shadow);
        }

        .btn-check:checked+#{&},
        #{&}.active {
            --ui-ripple-bg: var(--ui-ripple-active-bg);

            color: var(--ui-btn-active-color, var(--ui-btn-color));
            background-color: var(--ui-btn-active-bg);
            border-color: var(--ui-btn-active-border-color);
            box-shadow: var(--ui-btn-active-box-shadow);
        }

        #{&}:first-child:active,
        :not(.btn-check)+#{&}:active {
            --ui-ripple-bg: var(--ui-ripple-active-state-bg);

            color: var(--ui-btn-active-state-color, var(--ui-btn-color));
            background-color: var(--ui-btn-active-state-bg);
            border-color: var(--ui-btn-active-state-border-color);
            box-shadow: var(--ui-btn-active-box-shadow);
        }

        @media (prefers-reduced-motion: no-preference) {
            .btn-check:checked+#{&},
            #{&}.active,
            #{&}:first-child:active,
            :not(.btn-check)+#{&}:active {
                transform: translateY(1px);
            }
        }

        .btn-check:focus-visible+#{&},
        #{&}:focus-visible {
            outline: 0;
            box-shadow: var(--ui-btn-focus-box-shadow), var(--ui-btn-box-shadow);
        }

        #{&}:disabled,
        #{&}.disabled,
        fieldset:disabled #{&} {
            pointer-events: none;
            box-shadow: var(--ui-btn-box-shadow);
            opacity: var(--ui-btn-disabled-opacity);
            transform: none;
        }
    }
}

.btn-lg {
    --ui-btn-padding-x: #{vars.$btn-lg-padding-x};
    --ui-btn-padding-y: #{vars.$btn-lg-padding-y};
    --ui-btn-font-size: #{vars.$btn-lg-font-size};
    --ui-btn-border-radius: #{vars.$btn-lg-border-radius};
}

.btn-sm {
    --ui-btn-padding-x: #{vars.$btn-sm-padding-x};
    --ui-btn-padding-y: #{vars.$btn-sm-padding-y};
    --ui-btn-font-size: #{vars.$btn-sm-font-size};
    --ui-btn-border-radius: #{vars.$btn-sm-border-radius};
}

.btn-link {
    --ui-btn-color: var(--ui-link-color);
    --ui-btn-border-color: transparent;
    --ui-btn-hover-border-color: transparent;
    --ui-btn-active-border-color: transparent;
    --ui-btn-active-color: var(--ui-link-hover-color);
    --ui-btn-focus-shadow-color: var(--ui-link-color);

    text-decoration: var(--ui-link-decoration);

    &:hover {
        --ui-btn-color: var(--ui-link-hover-color);
        --ui-link-decoration: var(--ui-link-hover-decoration);
    }
}

@each $name, $color in vars.$color-variants {
    .btn-#{$name} {
        --ui-btn-bg: var(--ui-#{$name});
        --ui-btn-border-color: var(--ui-#{$name});
        --ui-btn-color: var(--ui-#{$name}-contrast);
        --ui-btn-hover-bg: var(--ui-#{$name}-highlight);
        --ui-btn-hover-border-color: var(--ui-#{$name}-highlight);
        --ui-btn-active-bg: var(--ui-#{$name}-active);
        --ui-btn-active-border-color: var(--ui-#{$name}-active);
        --ui-ripple-bg: #{functions.color-alpha("#{$name}-contrast", vars.$btn-ripple-opacity)};
        --ui-btn-focus-shadow-color: var(--ui-#{$name});
        --ui-btn-active-state-bg: var(--ui-btn-active-bg);
        --ui-btn-shadow-color: var(--ui-#{$name});
        --ui-btn-highlight-box-shadow: inset 0 1px 0 #{functions.color-alpha("white", .2)};
    }

    .btn-outline-#{$name} {
        --ui-btn-color: var(--ui-#{$name}-emphasis);
        --ui-btn-border-color: var(--ui-#{$name}-emphasis);
        --ui-btn-hover-bg: #{functions.color-alpha("#{$name}-emphasis", vars.$btn-outline-hover-opacity)};
        --ui-btn-hover-border-color: var(--ui-#{$name}-emphasis);
        --ui-btn-active-bg: var(--ui-#{$name});
        --ui-btn-active-color: var(--ui-#{$name}-contrast);
        --ui-btn-active-border-color: var(--ui-#{$name});
        --ui-ripple-bg: #{functions.color-alpha($name, vars.$btn-ripple-opacity)};
        --ui-ripple-active-bg: #{functions.color-alpha("#{$name}-contrast", vars.$btn-ripple-opacity)};
        --ui-btn-focus-shadow-color: var(--ui-#{$name});
        --ui-btn-active-state-bg: var(--ui-btn-hover-bg);
        --ui-btn-active-state-border-color: var(--ui-btn-hover-border-color);
    }
}
