@use "../mixins";

.card-group {
    >.card {
        margin-bottom: var(--ui-card-group-margin);
    }

    @include mixins.media-breakpoint-up(sm) {
        display: flex;
        flex-flow: row wrap;

        >.card {
            flex: 1 0 0%;
            margin-bottom: 0;

            +.card {
                margin-inline-start: 0;
                border-inline-start: 0;
            }

            &:not(:first-child) {
                @include mixins.border-start-radius(0);

                > :is(.card-img-top, .card-header) {
                    border-start-start-radius: 0;
                }

                > :is(.card-img-bottom, .card-footer) {
                    border-end-start-radius: 0;
                }
            }

            &:not(:last-child) {
                @include mixins.border-end-radius(0);

                > :is(.card-img-top, .card-header) {
                    border-start-end-radius: 0;
                }

                > :is(.card-img-bottom, .card-footer) {
                    border-end-end-radius: 0;
                }
            }
        }
    }
}
