@use "../mixins";
@use "../vars";

.card {
    --ui-card-spacer-x: #{vars.$card-spacer-x};
    --ui-card-spacer-y: #{vars.$card-spacer-y};
    --ui-card-title-spacer-y: #{vars.$card-title-spacer-y};
    --ui-card-title-font-weight: #{vars.$card-title-font-weight};
    --ui-card-border-width: #{vars.$card-border-width};
    --ui-card-border-color: #{vars.$card-border-color};
    --ui-card-border-radius: #{vars.$card-border-radius};
    --ui-card-inner-border-radius: calc(var(--ui-card-border-radius) - var(--ui-card-border-width));
    --ui-card-bg: #{vars.$card-bg};
    --ui-card-box-shadow: #{vars.$card-box-shadow};
    --ui-card-interactive-hover-border-color: #{vars.$card-interactive-hover-border-color};
    --ui-card-interactive-focus-border-color: #{vars.$card-interactive-focus-border-color};
    --ui-card-interactive-box-shadow: #{vars.$card-interactive-box-shadow};
    --ui-card-cap-padding-x: #{vars.$card-cap-padding-x};
    --ui-card-cap-padding-y: #{vars.$card-cap-padding-y};
    --ui-card-cap-bg: #{vars.$card-cap-bg};
    --ui-card-header-font-weight: #{vars.$card-header-font-weight};
    --ui-card-img-overlay-padding: #{vars.$card-img-overlay-padding};
    --ui-card-group-margin: #{vars.$card-group-margin};

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: var(--ui-body-color);
    overflow-wrap: break-word;
    background-color: var(--ui-card-bg);
    background-clip: border-box;
    border: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);
    @include mixins.border-radius(var(--ui-card-border-radius));
    box-shadow: var(--ui-card-box-shadow);

    &:has(.stretched-link) {
        transition-timing-function: var(--ui-transition-timing-function);
        transition-duration: var(--ui-transition-duration-fast);
        transition-property: border-color, box-shadow;

        &:has(.stretched-link:is(:hover, :focus-visible)) {
            border-color: var(--ui-card-interactive-hover-border-color);
            box-shadow: var(--ui-card-interactive-box-shadow);
        }

        &:has(.stretched-link:focus-visible) {
            border-color: var(--ui-card-interactive-focus-border-color);
        }
    }

    >hr {
        margin-inline: 0;
    }

    >.list-group {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-width: 0;
            @include mixins.border-top-radius(var(--ui-card-inner-border-radius));
        }

        &:last-child {
            border-bottom-width: 0;
            @include mixins.border-bottom-radius(var(--ui-card-inner-border-radius));
        }
    }

    >.card-header + .list-group,
    >.list-group + .card-footer {
        border-top: 0;
    }
}

.card-header {
    padding: var(--ui-card-cap-padding-y) var(--ui-card-cap-padding-x);
    margin-bottom: 0;
    font-weight: var(--ui-card-header-font-weight);
    background-color: var(--ui-card-cap-bg);
    border-bottom: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);

    &:first-child {
        $card-header-border-radius: var(--ui-card-inner-border-radius) var(--ui-card-inner-border-radius) 0 0;
        @include mixins.border-radius($card-header-border-radius);
    }
}

.card-footer {
    padding: var(--ui-card-cap-padding-y) var(--ui-card-cap-padding-x);
    background-color: var(--ui-card-cap-bg);
    border-top: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);

    &:last-child {
        $card-footer-border-radius: 0 0 var(--ui-card-inner-border-radius) var(--ui-card-inner-border-radius);
        @include mixins.border-radius($card-footer-border-radius);
    }
}

.card-body {
    flex: 1 1 auto;
    padding: var(--ui-card-spacer-y) var(--ui-card-spacer-x);
}

.card-title {
    margin-bottom: var(--ui-card-title-spacer-y);
    font-weight: var(--ui-card-title-font-weight);
}

.card-subtitle {
    margin-top: calc(var(--ui-card-title-spacer-y) * -.5);
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link + .card-link {
    margin-inline-start: var(--ui-card-spacer-x);
}

.card-img-overlay {
    position: absolute;
    inset: 0;
    padding: var(--ui-card-img-overlay-padding);
    @include mixins.border-radius(var(--ui-card-inner-border-radius));
}

.card-img {
    width: 100%;
}

.card-img-top {
    @extend .card-img;
    @include mixins.border-top-radius(var(--ui-card-inner-border-radius));
}

.card-img-bottom {
    @extend .card-img;
    @include mixins.border-bottom-radius(var(--ui-card-inner-border-radius));
}
