@use "../functions";
@use "../mixins";
@use "../vars";

.carousel {
    --ui-carousel-bg: #{vars.$carousel-bg};
    --ui-carousel-control-padding-x: #{vars.$carousel-control-padding-x};
    --ui-carousel-control-padding-y: #{vars.$carousel-control-padding-y};
    --ui-carousel-control-color: #{vars.$carousel-control-color};
    --ui-carousel-control-opacity: #{vars.$carousel-control-opacity};
    --ui-carousel-control-icon-width: #{vars.$carousel-control-icon-width};
    --ui-carousel-control-prev-icon: #{vars.$carousel-control-prev-icon};
    --ui-carousel-control-next-icon: #{vars.$carousel-control-next-icon};
    --ui-carousel-indicator-width: #{vars.$carousel-indicator-width};
    --ui-carousel-indicator-height: #{vars.$carousel-indicator-height};
    --ui-carousel-indicator-spacer: #{vars.$carousel-indicator-spacer};
    --ui-carousel-indicator-bg: #{vars.$carousel-indicator-bg};
    --ui-carousel-indicator-opacity: #{vars.$carousel-indicator-opacity};
    --ui-carousel-indicator-border-radius: #{vars.$carousel-indicator-border-radius};
    --ui-carousel-caption-width: #{vars.$carousel-caption-width};
    --ui-carousel-caption-padding-x: #{vars.$carousel-caption-padding-x};
    --ui-carousel-caption-padding-y: #{vars.$carousel-caption-padding-y};
    --ui-carousel-caption-spacer: #{vars.$carousel-caption-spacer};
    --ui-carousel-caption-color: #{vars.$carousel-caption-color};
    --ui-carousel-caption-bg: #{vars.$carousel-caption-bg};
    --ui-carousel-caption-backdrop-filter: #{vars.$carousel-caption-backdrop-filter};
    --ui-carousel-caption-border-width: #{vars.$carousel-caption-border-width};
    --ui-carousel-caption-border-color: #{vars.$carousel-caption-border-color};
    --ui-carousel-caption-border-radius: #{vars.$carousel-caption-border-radius};
    --ui-carousel-caption-box-shadow: #{vars.$carousel-caption-box-shadow};

    position: relative;
    user-select: none;
    background-color: var(--ui-carousel-bg);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    backface-visibility: hidden;

    &:not(.active) {
        position: absolute;
        inset: 0;
    }

    &.active {
        position: relative;
        display: block;
        width: 100%;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--ui-carousel-control-padding-y) var(--ui-carousel-control-padding-x);
    font-size: vars.$carousel-control-font-size;
    color: functions.color-alpha(carousel-control-color, var(--ui-carousel-control-opacity));
    text-align: center;
    background: transparent;
    border: 0;

    &:hover,
    &:focus-visible {
        --ui-carousel-control-opacity: #{vars.$carousel-control-hover-opacity};
    }

    &:focus-visible {
        outline: 0;
        box-shadow: inset 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color);
    }
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: var(--ui-carousel-control-icon-width);
    height: var(--ui-carousel-control-icon-width);
    background-color: currentcolor;
    mask-position: 50%;
    mask-size: var(--ui-carousel-control-icon-width);
}

.carousel-control-prev-icon {
    mask-image: var(--ui-carousel-control-prev-icon);
}

.carousel-control-next-icon {
    mask-image: var(--ui-carousel-control-next-icon);
}

.carousel-indicators {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-inline: var(--ui-carousel-control-icon-width);
    list-style: none;

    >* {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: var(--ui-carousel-indicator-width);
        height: var(--ui-carousel-indicator-height);
        margin-inline: calc(var(--ui-carousel-indicator-spacer) / 2);
        text-indent: -999px;
        cursor: pointer;
        background-color: var(--ui-carousel-indicator-bg);
        background-clip: padding-box;
        @include mixins.border-radius(var(--ui-carousel-indicator-border-radius));
        opacity: var(--ui-carousel-indicator-opacity);

        &.active {
            --ui-carousel-indicator-opacity: #{vars.$carousel-indicator-active-opacity};
        }
    }
}

.carousel-caption {
    position: absolute;
    inset-inline: 0;
    bottom: var(--ui-carousel-caption-spacer);
    width: fit-content;
    max-width: var(--ui-carousel-caption-width);
    padding: var(--ui-carousel-caption-padding-y) var(--ui-carousel-caption-padding-x);
    margin-inline: auto;
    color: var(--ui-carousel-caption-color);
    text-align: center;
    background-color: var(--ui-carousel-caption-bg);
    border: var(--ui-carousel-caption-border-width) var(--ui-border-style) var(--ui-carousel-caption-border-color);
    box-shadow: var(--ui-carousel-caption-box-shadow);
    backdrop-filter: var(--ui-carousel-caption-backdrop-filter);
    @include mixins.border-radius(var(--ui-carousel-caption-border-radius));

    > :last-child {
        margin-bottom: 0;
    }
}
