@use "../functions";
@use "../mixins";
@use "../vars";

.carousel {
    --ui-carousel-bg: #{vars.$carousel-bg};
    --ui-carousel-transition-duration: #{vars.$carousel-transition-duration};
    --ui-carousel-control-size: #{vars.$carousel-control-size};
    --ui-carousel-control-spacer: #{vars.$carousel-control-spacer};
    --ui-carousel-control-color: #{vars.$carousel-control-color};
    --ui-carousel-control-bg: #{vars.$carousel-control-bg};
    --ui-carousel-control-backdrop-filter: #{vars.$carousel-control-backdrop-filter};
    --ui-carousel-control-border-width: #{vars.$carousel-control-border-width};
    --ui-carousel-control-border-color: #{vars.$carousel-control-border-color};
    --ui-carousel-control-border-radius: #{vars.$carousel-control-border-radius};
    --ui-carousel-control-box-shadow: #{vars.$carousel-control-box-shadow};
    --ui-carousel-control-hover-box-shadow: #{vars.$carousel-control-hover-box-shadow};
    --ui-carousel-control-opacity: #{vars.$carousel-control-opacity};
    --ui-carousel-control-icon-width: #{vars.$carousel-control-icon-width};
    --ui-carousel-control-prev-icon: #{vars.$carousel-control-prev-icon};
    --ui-carousel-control-next-icon: #{vars.$carousel-control-next-icon};
    --ui-carousel-indicator-width: #{vars.$carousel-indicator-width};
    --ui-carousel-indicator-height: #{vars.$carousel-indicator-height};
    --ui-carousel-indicator-spacer: #{vars.$carousel-indicator-spacer};
    --ui-carousel-indicator-bg: #{vars.$carousel-indicator-bg};
    --ui-carousel-indicator-opacity: #{vars.$carousel-indicator-opacity};
    --ui-carousel-indicator-border-radius: #{vars.$carousel-indicator-border-radius};
    --ui-carousel-caption-width: #{vars.$carousel-caption-width};
    --ui-carousel-caption-padding-x: #{vars.$carousel-caption-padding-x};
    --ui-carousel-caption-padding-y: #{vars.$carousel-caption-padding-y};
    --ui-carousel-caption-spacer: #{vars.$carousel-caption-spacer};
    --ui-carousel-caption-color: #{vars.$carousel-caption-color};
    --ui-carousel-caption-bg: #{vars.$carousel-caption-bg};
    --ui-carousel-caption-backdrop-filter: #{vars.$carousel-caption-backdrop-filter};
    --ui-carousel-caption-border-width: #{vars.$carousel-caption-border-width};
    --ui-carousel-caption-border-color: #{vars.$carousel-caption-border-color};
    --ui-carousel-caption-border-radius: #{vars.$carousel-caption-border-radius};
    --ui-carousel-caption-box-shadow: #{vars.$carousel-caption-box-shadow};

    position: relative;
    user-select: none;
    background-color: var(--ui-carousel-bg);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    backface-visibility: hidden;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-property: transform;

    &:not(.active) {
        position: absolute;
        inset: 0;
    }
}

.carousel-item.active,
.carousel-item-prev,
.carousel-item-next {
    display: block;
}

.carousel-item-prev {
    transform: translateX(-100%);

    &:dir(rtl) {
        transform: translateX(100%);
    }
}

.carousel-item-next {
    transform: translateX(100%);

    &:dir(rtl) {
        transform: translateX(-100%);
    }
}

.carousel-dragging .carousel-item {
    transition: none;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    inset-block: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ui-carousel-control-size);
    height: var(--ui-carousel-control-size);
    padding: 0;
    margin-block: auto;
    color: functions.color-alpha(carousel-control-color, var(--ui-carousel-control-opacity));
    text-align: center;
    background-color: var(--ui-carousel-control-bg);
    border: var(--ui-carousel-control-border-width) var(--ui-border-style) var(--ui-carousel-control-border-color);
    box-shadow: var(--ui-carousel-control-box-shadow);
    backdrop-filter: var(--ui-carousel-control-backdrop-filter);
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration-fast);
    transition-property: color, background-color, border-color, box-shadow;
    @include mixins.border-radius(var(--ui-carousel-control-border-radius));

    &:hover {
        --ui-carousel-control-opacity: #{vars.$carousel-control-hover-opacity};

        box-shadow: var(--ui-carousel-control-hover-box-shadow);
    }

    &:focus-visible {
        --ui-carousel-control-opacity: #{vars.$carousel-control-hover-opacity};

        outline: 0;
        box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color), var(--ui-carousel-control-hover-box-shadow);
    }
}

.carousel-control-prev {
    inset-inline-start: var(--ui-carousel-control-spacer);
}

.carousel-control-next {
    inset-inline-end: var(--ui-carousel-control-spacer);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: var(--ui-carousel-control-icon-width);
    height: var(--ui-carousel-control-icon-width);
    background-color: currentcolor;
    mask-position: 50%;
    mask-size: var(--ui-carousel-control-icon-width);
}

.carousel-control-prev-icon {
    mask-image: var(--ui-carousel-control-prev-icon);

    &:dir(rtl) {
        mask-image: var(--ui-carousel-control-next-icon);
    }
}

.carousel-control-next-icon {
    mask-image: var(--ui-carousel-control-next-icon);

    &:dir(rtl) {
        mask-image: var(--ui-carousel-control-prev-icon);
    }
}

.carousel-indicators {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-inline: var(--ui-carousel-control-icon-width);
    list-style: none;

    >* {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: var(--ui-carousel-indicator-width);
        height: var(--ui-carousel-indicator-height);
        margin-inline: calc(var(--ui-carousel-indicator-spacer) / 2);
        text-indent: -999px;
        cursor: pointer;
        background-color: var(--ui-carousel-indicator-bg);
        background-clip: padding-box;
        @include mixins.border-radius(var(--ui-carousel-indicator-border-radius));
        opacity: var(--ui-carousel-indicator-opacity);

        &.active {
            --ui-carousel-indicator-opacity: #{vars.$carousel-indicator-active-opacity};
        }
    }
}

.carousel-caption {
    position: absolute;
    inset-inline: 0;
    bottom: var(--ui-carousel-caption-spacer);
    width: fit-content;
    max-width: min(var(--ui-carousel-caption-width), calc(100% - var(--ui-carousel-caption-spacer) - var(--ui-carousel-caption-spacer)));
    padding-block: var(--ui-carousel-caption-padding-y);
    padding-inline: var(--ui-carousel-caption-padding-x);
    margin-inline: auto;
    color: var(--ui-carousel-caption-color);
    text-align: center;
    background-color: var(--ui-carousel-caption-bg);
    border: var(--ui-carousel-caption-border-width) var(--ui-border-style) var(--ui-carousel-caption-border-color);
    box-shadow: var(--ui-carousel-caption-box-shadow);
    backdrop-filter: var(--ui-carousel-caption-backdrop-filter);
    @include mixins.border-radius(var(--ui-carousel-caption-border-radius));

    > :last-child {
        margin-block-end: 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .carousel-item {
        transition-duration: calc(var(--ui-carousel-transition-duration) * var(--ui-carousel-transition-scale, 1));
    }
}
