@use "../functions";
@use "../mixins";
@use "../vars";

@use "sass:map";

.list-group {
    --ui-list-group-color: #{vars.$list-group-color};
    --ui-list-group-bg: #{vars.$list-group-bg};
    --ui-list-group-border-color: #{vars.$list-group-border-color};
    --ui-list-group-border-width: #{vars.$list-group-border-width};
    --ui-list-group-border-radius: #{vars.$list-group-border-radius};
    --ui-list-group-item-padding-x: #{vars.$list-group-item-padding-x};
    --ui-list-group-item-padding-y: #{vars.$list-group-item-padding-y};
    --ui-list-group-item-disabled-color: #{vars.$list-group-item-disabled-color};
    --ui-list-group-item-disabled-bg: #{vars.$list-group-item-disabled-bg};
    --ui-list-group-action-color: #{vars.$list-group-action-color};
    --ui-list-group-action-hover-color: #{vars.$list-group-action-hover-color};
    --ui-list-group-action-hover-bg: #{vars.$list-group-action-hover-bg};
    --ui-list-group-focus-shadow-color: var(--ui-primary);
    --ui-list-group-active-color: #{vars.$list-group-active-color};
    --ui-list-group-active-bg: #{vars.$list-group-active-bg};
    --ui-list-group-active-border-color: #{vars.$list-group-active-border-color};

    display: flex;
    flex-direction: column;
    padding: 0;
    margin-inline-start: 0;
    margin-bottom: 0;
    @include mixins.border-radius(var(--ui-list-group-border-radius));
}

.list-group-item-action {
    width: 100%;
    color: var(--ui-list-group-action-color);
    text-align: inherit;

    &:is(:hover, :focus-visible) {
        z-index: 1;
        color: var(--ui-list-group-action-hover-color);
        text-decoration: none;
        background-color: var(--ui-list-group-action-hover-bg);
    }

    &:focus-visible {
        outline: 0;
        box-shadow: #{vars.$list-group-action-focus-box-shadow};
    }
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--ui-list-group-item-padding-y) var(--ui-list-group-item-padding-x);
    color: var(--ui-list-group-color);
    text-decoration: none;
    background-color: var(--ui-list-group-bg);
    border: var(--ui-list-group-border-width) var(--ui-border-style) var(--ui-list-group-border-color);

    &:first-child {
        @include mixins.border-top-radius(inherit);
    }

    &:last-child {
        @include mixins.border-bottom-radius(inherit);
    }

    &:is(:disabled, .disabled) {
        color: var(--ui-list-group-item-disabled-color);
        pointer-events: none;
        background-color: var(--ui-list-group-item-disabled-bg);
    }

    &.active {
        z-index: 2;
        color: var(--ui-list-group-active-color);
        background-color: var(--ui-list-group-active-bg);
        border-color: var(--ui-list-group-active-border-color);
    }

    & + & {
        border-top-width: 0;

        &.active {
            margin-top: calc(var(--ui-list-group-border-width) * -1);
            border-top-width: var(--ui-list-group-border-width);
        }
    }
}

.list-group-flush {
    @include mixins.border-radius(0);

    >.list-group-item {
        border-width: 0 0 var(--ui-list-group-border-width);

        &:last-child {
            border-bottom-width: 0;
        }
    }
}

.list-group-numbered {
    list-style-type: none;
    counter-reset: section;

    >li::before {
        content: counters(section, ".") ". ";
        counter-increment: section;
    }
}

@each $name, $color in vars.$color-variants {
    .list-group-item-#{$name} {
        --ui-list-group-color: var(--ui-#{$name}-subtle-text);
        --ui-list-group-bg: var(--ui-#{$name}-subtle);
        --ui-list-group-border-color: var(--ui-#{$name}-subtle-emphasis);
        --ui-list-group-action-hover-color: var(--ui-#{$name}-subtle-text);
        --ui-list-group-action-hover-bg: var(--ui-#{$name}-subtle-emphasis);
        --ui-list-group-focus-shadow-color: var(--ui-#{$name});
        --ui-list-group-active-color: var(--ui-#{$name}-contrast);
        --ui-list-group-active-bg: var(--ui-#{$name});
        --ui-list-group-active-border-color: var(--ui-#{$name});
    }
}

@each $breakpoint in map.keys(vars.$breakpoints) {
    $infix: functions.breakpoint-infix($breakpoint);

    @include mixins.media-breakpoint-up($breakpoint) {
        .list-group-horizontal#{$infix} {
            flex-direction: row;

            .list-group-item-action {
                width: auto;
            }

            .list-group-item {

                &:first-child {
                    @include mixins.border-start-radius(var(--ui-list-group-border-radius));
                }

                &:last-child {
                    @include mixins.border-end-radius(var(--ui-list-group-border-radius));
                }


                +.list-group-item {
                    border-inline-start-width: 0;
                    border-top-width: var(--ui-list-group-border-width);
                }

                &.active {
                    margin-inline-start: calc(var(--ui-list-group-border-width) * -1);
                    margin-top: 0;
                    border-inline-start-width: var(--ui-list-group-border-width);
                }
            }
        }
    }
}
