@use "../functions";
@use "../mixins";
@use "../vars";

@use "sass:map";

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    --ui-modal-z-index: #{vars.$modal-z-index};
    --ui-modal-width: #{vars.$modal-md-max-width};
    --ui-modal-padding-x: #{vars.$modal-padding-x};
    --ui-modal-padding-y: #{vars.$modal-padding-y};
    --ui-modal-margin: #{vars.$modal-margin};
    --ui-modal-bg: #{vars.$modal-bg};
    --ui-modal-content-backdrop-filter: #{vars.$modal-content-backdrop-filter};
    --ui-modal-border-width: #{vars.$modal-border-width};
    --ui-modal-border-color: #{vars.$modal-border-color};
    --ui-modal-border-radius: #{vars.$modal-border-radius};
    --ui-modal-inner-border-radius: calc(var(--ui-modal-border-radius) - var(--ui-modal-border-width));
    --ui-modal-box-shadow: #{vars.$modal-content-box-shadow};
    --ui-modal-header-padding-x: #{vars.$modal-header-padding-x};
    --ui-modal-header-padding-y: #{vars.$modal-header-padding-y};
    --ui-modal-header-border-width: #{vars.$modal-header-border-width};
    --ui-modal-header-border-color: #{vars.$modal-header-border-color};
    --ui-modal-title-font-size: #{vars.$modal-title-font-size};
    --ui-modal-title-font-weight: #{vars.$modal-title-font-weight};
    --ui-modal-title-line-height: #{vars.$modal-title-line-height};
    --ui-modal-footer-border-width: #{vars.$modal-footer-border-width};
    --ui-modal-footer-border-color: #{vars.$modal-footer-border-color};

    position: fixed;
    inset: 0;
    z-index: var(--ui-modal-z-index);
    visibility: hidden;
    padding: var(--ui-safe-area-inset-top) var(--ui-safe-area-inset-right) var(--ui-safe-area-inset-bottom) var(--ui-safe-area-inset-left);
    overflow: hidden;
    overscroll-behavior: contain;
    outline: 0;

    &:is(.show, .hiding) {
        visibility: visible;
    }

    &.show .modal-dialog {
        opacity: 1;
        transform: none;
    }

    &.modal-static .modal-dialog {
        transform: scale(1.025);
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--ui-modal-margin);
    pointer-events: none;
    opacity: 0;
    transform: translateY(calc(var(--ui-modal-margin) * -2));
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: opacity, transform;
}

.modal-dialog-scrollable {
    max-height: calc(100dvh - #{vars.$modal-dialog-scrollable-gap});

    .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100dvh - #{vars.$modal-dialog-centered-gap});
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: vars.$modal-content-color;
    pointer-events: auto;
    background-color: var(--ui-modal-bg);
    background-clip: padding-box;
    border: var(--ui-modal-border-width) var(--ui-border-style) var(--ui-modal-border-color);
    box-shadow: var(--ui-modal-box-shadow);
    backdrop-filter: var(--ui-modal-content-backdrop-filter);
    @include mixins.border-radius(var(--ui-modal-border-radius));
}

.modal-backdrop {
    --ui-backdrop-z-index: #{vars.$modal-backdrop-z-index};
    --ui-backdrop-bg: #{vars.$modal-backdrop-bg};
    --ui-backdrop-filter: #{vars.$modal-backdrop-filter};

    position: fixed;
    inset: 0;
    z-index: var(--ui-backdrop-z-index);
    background-color: var(--ui-backdrop-bg);
    opacity: 0;
    backdrop-filter: var(--ui-backdrop-filter);
    transition: opacity var(--ui-transition-duration) var(--ui-transition-timing-function);

    &.show {
        opacity: 1;
    }
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-block: var(--ui-modal-header-padding-y);
    padding-inline: var(--ui-modal-header-padding-x);
    border-block-end: var(--ui-modal-header-border-width) var(--ui-border-style) var(--ui-modal-header-border-color);
    @include mixins.border-top-radius(var(--ui-modal-inner-border-radius));

    .btn-close {
        padding-block: calc(var(--ui-modal-header-padding-y) * .5);
        padding-inline: calc(var(--ui-modal-header-padding-x) * .5);
        margin-block: calc(var(--ui-modal-header-padding-y) * -.5);
        margin-inline-start: auto;
        margin-inline-end: calc(var(--ui-modal-header-padding-x) * -.5);
    }
}

.modal-title {
    margin-block-end: 0;
    font-size: var(--ui-modal-title-font-size);
    font-weight: var(--ui-modal-title-font-weight);
    line-height: var(--ui-modal-title-line-height);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding-block: var(--ui-modal-padding-y);
    padding-inline: var(--ui-modal-padding-x);
    overscroll-behavior: contain;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: vars.$spacing * .5;
    align-items: center;
    justify-content: flex-end;
    padding-block: var(--ui-modal-padding-y);
    padding-inline: var(--ui-modal-padding-x);
    border-block-start: var(--ui-modal-footer-border-width) var(--ui-border-style) var(--ui-modal-footer-border-color);
    @include mixins.border-bottom-radius(var(--ui-modal-inner-border-radius));
}

@include mixins.media-breakpoint-up(sm) {
    .modal-dialog {
        max-width: var(--ui-modal-width);
        margin-block: vars.$modal-md-dialog-margin-y;
        margin-inline: auto;
    }

    .modal-dialog-scrollable {
        height: calc(100% - #{vars.$modal-md-dialog-margin-y * 2});
    }

    .modal-dialog-centered {
        min-height: calc(100% - #{vars.$modal-md-dialog-margin-y * 2});
    }

    .modal-sm {
        max-width: vars.$modal-sm-max-width;
    }
}

@include mixins.media-breakpoint-up(lg) {

    .modal-lg,
    .modal-xl {
        max-width: vars.$modal-lg-max-width;
    }
}

@include mixins.media-breakpoint-up(xl) {
    .modal-xl {
        max-width: vars.$modal-xl-max-width;
    }
}

@each $breakpoint in map.keys(vars.$breakpoints) {
    $infix: functions.breakpoint-infix($breakpoint);

    @if $infix != "" {
        $infix: $infix + "-down";
    }

    @include mixins.media-breakpoint-down($breakpoint) {
        .modal-fullscreen#{$infix} {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
            }

            :is(.modal-content, .modal-header, .modal-footer) {
                @include mixins.border-radius(0);
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }
}
