@use "../mixins";
@use "../vars";

@use "sass:map";

.nav {
    --ui-nav-link-padding-x: #{vars.$nav-link-padding-x};
    --ui-nav-link-padding-y: #{vars.$nav-link-padding-y};
    --ui-nav-link-color: #{vars.$nav-link-color};
    --ui-nav-link-hover-color: #{vars.$nav-link-hover-color};
    --ui-nav-link-focus-box-shadow: #{vars.$nav-link-focus-box-shadow};
    --ui-nav-link-disabled-color: #{vars.$nav-link-disabled-color};

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-inline-start: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: var(--ui-nav-link-padding-y) var(--ui-nav-link-padding-x);
    color: var(--ui-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: color, background-color, border-color, box-shadow;

    &:hover,
    &:focus-visible {
        color: var(--ui-nav-link-hover-color);
        text-decoration: none;
    }

    &:focus-visible {
        outline: 0;
        box-shadow: vars.$nav-link-focus-box-shadow;
    }

    &.disabled {
        color: var(--ui-nav-link-disabled-color);
        pointer-events: none;
        cursor: default;
    }
}

.nav-tabs {
    --ui-nav-tabs-border-width: #{vars.$nav-tabs-border-width};
    --ui-nav-tabs-border-color: #{vars.$nav-tabs-border-color};
    --ui-nav-tabs-link-padding-x: #{vars.$nav-tabs-link-padding-x};
    --ui-nav-tabs-link-padding-y: #{vars.$nav-tabs-link-padding-y};
    --ui-nav-tabs-link-min-height: #{vars.$nav-tabs-link-min-height};
    --ui-nav-tabs-link-font-size: #{vars.$nav-tabs-link-font-size};
    --ui-nav-tabs-link-color: #{vars.$nav-tabs-link-color};
    --ui-nav-tabs-link-font-weight: #{vars.$nav-tabs-link-font-weight};
    --ui-nav-tabs-link-hover-color: #{vars.$nav-tabs-link-hover-color};
    --ui-nav-tabs-link-hover-bg: #{vars.$nav-tabs-link-hover-bg};
    --ui-nav-tabs-link-active-color: #{vars.$nav-tabs-link-active-color};
    --ui-nav-tabs-link-active-border-width: #{vars.$nav-tabs-link-active-border-width};

    border-bottom: var(--ui-nav-tabs-border-width) var(--ui-border-style) var(--ui-nav-tabs-border-color);

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: var(--ui-nav-tabs-link-min-height);
        padding: var(--ui-nav-tabs-link-padding-y) var(--ui-nav-tabs-link-padding-x);
        margin-bottom: calc(var(--ui-nav-tabs-border-width) * -1);
        font-size: var(--ui-nav-tabs-link-font-size);
        font-weight: var(--ui-nav-tabs-link-font-weight);
        color: var(--ui-nav-tabs-link-color);
        background-color: transparent;
        background-image: linear-gradient(var(--ui-nav-tabs-link-active-color), var(--ui-nav-tabs-link-active-color));
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 0 var(--ui-nav-tabs-link-active-border-width);
        border: 0;
        transition-duration: var(--ui-transition-duration-fast);
        transition-property: color, background-color, background-size, box-shadow;

        &:hover,
        &:focus-visible {
            color: var(--ui-nav-tabs-link-hover-color);
            background-color: var(--ui-nav-tabs-link-hover-bg);
            isolation: isolate;
        }

        &.disabled {
            color: var(--ui-nav-link-disabled-color);
            background-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: var(--ui-nav-tabs-link-active-color);
        background-size: calc(100% - (var(--ui-nav-tabs-link-padding-x) + var(--ui-nav-tabs-link-padding-x))) var(--ui-nav-tabs-link-active-border-width);
    }
}

.nav-pills {
    --ui-nav-pills-border-radius: #{vars.$nav-pills-border-radius};
    --ui-nav-pills-padding: #{vars.$nav-pills-padding};
    --ui-nav-pills-gap: #{vars.$nav-pills-gap};
    --ui-nav-pills-bg: #{vars.$nav-pills-bg};
    --ui-nav-pills-link-active-color: #{vars.$nav-pills-link-active-color};
    --ui-nav-pills-link-active-bg: #{vars.$nav-pills-link-active-bg};
    --ui-nav-pills-link-active-box-shadow: #{vars.$nav-pills-link-active-box-shadow};

    gap: var(--ui-nav-pills-gap);
    width: fit-content;
    max-width: 100%;
    padding: var(--ui-nav-pills-padding);
    background-color: var(--ui-nav-pills-bg);
    @include mixins.border-radius(calc(var(--ui-nav-pills-border-radius) + var(--ui-nav-pills-padding)));

    &.nav-fill,
    &.nav-justified {
        width: 100%;
    }

    .nav-link {
        background: none;
        border: 0;
        @include mixins.border-radius(var(--ui-nav-pills-border-radius));

        &:disabled {
            color: var(--ui-nav-link-disabled-color);
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: var(--ui-nav-pills-link-active-color);
        background-color: var(--ui-nav-pills-link-active-bg);
        box-shadow: var(--ui-nav-pills-link-active-box-shadow);
    }
}

.nav-underline {
    --ui-nav-underline-gap: #{vars.$nav-underline-gap};
    --ui-nav-underline-border-width: #{vars.$nav-underline-border-width};
    --ui-nav-underline-link-active-color: #{vars.$nav-underline-link-active-color};

    gap: var(--ui-nav-underline-gap);

    .nav-link {
        padding-inline: 0;
        border-bottom: var(--ui-nav-underline-border-width) solid transparent;

        &:focus-visible,
        &:hover {
            border-bottom-color: currentcolor;
        }
    }

    .nav-link.active,
    .show > .nav-link {
        font-weight: map.get(vars.$font-weights, bold);
        color: var(--ui-nav-underline-link-active-color);
        border-bottom-color: currentcolor;
    }
}

.nav-fill {

    >.nav-link,
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {

    >.nav-link,
    .nav-item {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
    }
}

.tab-content {
    >.tab-pane {
        display: none;

        &.active {
            display: block;
        }
    }
}

.card-header-tabs {
    --ui-nav-tabs-link-padding-y: #{vars.$card-header-tabs-link-padding-y};
    --ui-nav-tabs-link-min-height: #{vars.$card-header-tabs-link-min-height};

    margin-inline: calc(var(--ui-card-cap-padding-x) * -.5);
    margin-bottom: calc(var(--ui-card-cap-padding-y) * -1);
    border-bottom: 0;
}

.card-header-pills {
    --ui-nav-pills-padding: 0;
    --ui-nav-pills-bg: transparent;

    width: auto;
    margin-inline: calc(var(--ui-card-cap-padding-x) * -.5);
}
