@use "../vars";

.offcanvas {
    --ui-offcanvas-z-index: #{vars.$offcanvas-z-index};
    --ui-offcanvas-width: #{vars.$offcanvas-horizontal-width};
    --ui-offcanvas-height: #{vars.$offcanvas-vertical-height};
    --ui-offcanvas-padding-x: #{vars.$offcanvas-padding-x};
    --ui-offcanvas-padding-y: #{vars.$offcanvas-padding-y};
    --ui-offcanvas-color: #{vars.$offcanvas-color};
    --ui-offcanvas-bg: #{vars.$offcanvas-bg};
    --ui-offcanvas-border-width: #{vars.$offcanvas-border-width};
    --ui-offcanvas-border-color: #{vars.$offcanvas-border-color};
    --ui-offcanvas-title-line-height: #{vars.$offcanvas-title-line-height};

    position: fixed;
    bottom: 0;
    z-index: var(--ui-offcanvas-z-index);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: var(--ui-safe-area-inset-top) var(--ui-safe-area-inset-right) var(--ui-safe-area-inset-bottom) var(--ui-safe-area-inset-left);
    color: var(--ui-offcanvas-color);
    outline: 0;
    background-color: var(--ui-offcanvas-bg);
    background-clip: padding-box;

    &:not(.show) {
        display: none;
    }
}

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--ui-offcanvas-padding-y) var(--ui-offcanvas-padding-x);

    .btn-close {
        padding: calc(var(--ui-offcanvas-padding-y) * .5) calc(var(--ui-offcanvas-padding-x) * .5);
        margin-block: calc(var(--ui-offcanvas-padding-y) * -.5);
        margin-inline-start: auto;
        margin-inline-end: calc(var(--ui-offcanvas-padding-x) * -.5);
    }
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: var(--ui-offcanvas-title-line-height);
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--ui-offcanvas-padding-y) var(--ui-offcanvas-padding-x);
    overflow-y: auto;
    overscroll-behavior: contain;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--ui-offcanvas-width);
    border-right: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--ui-offcanvas-width);
    border-left: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-top {
    inset-inline: 0;
    top: 0;
    height: var(--ui-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-bottom {
    inset-inline: 0;
    height: var(--ui-offcanvas-height);
    max-height: 100%;
    border-top: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-backdrop::before {
    position: fixed;
    inset: 0;
    z-index: vars.$offcanvas-z-index - 1;
    content: "";
    background-color: vars.$offcanvas-backdrop-bg;
}
