@use "../mixins";
@use "../vars";

.pagination {
    --ui-pagination-padding-x: #{vars.$pagination-padding-x};
    --ui-pagination-padding-y: #{vars.$pagination-padding-y};
    --ui-pagination-font-size: #{vars.$pagination-font-size};
    --ui-pagination-color: #{vars.$pagination-color};
    --ui-pagination-bg: #{vars.$pagination-bg};
    --ui-pagination-border-width: #{vars.$pagination-border-width};
    --ui-pagination-border-color: #{vars.$pagination-border-color};
    --ui-pagination-border-radius: #{vars.$pagination-border-radius};
    --ui-pagination-hover-color: #{vars.$pagination-hover-color};
    --ui-pagination-hover-bg: #{vars.$pagination-hover-bg};
    --ui-pagination-focus-color: #{vars.$pagination-focus-color};
    --ui-pagination-focus-bg: #{vars.$pagination-focus-bg};
    --ui-pagination-focus-box-shadow: #{vars.$pagination-focus-box-shadow};
    --ui-pagination-active-color: #{vars.$pagination-active-color};
    --ui-pagination-active-bg: #{vars.$pagination-active-bg};
    --ui-pagination-active-border-color: #{vars.$pagination-active-border-color};
    --ui-pagination-disabled-color: #{vars.$pagination-disabled-color};
    --ui-pagination-disabled-bg: #{vars.$pagination-disabled-bg};
    --ui-pagination-disabled-border-color: #{vars.$pagination-disabled-border-color};

    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--ui-pagination-padding-y) var(--ui-pagination-padding-x);
    font-size: var(--ui-pagination-font-size);
    color: var(--ui-pagination-color);
    text-decoration: none;
    background-color: var(--ui-pagination-bg);
    border: var(--ui-pagination-border-width) var(--ui-border-style) var(--ui-pagination-border-color);
    transition: all vars.$transition-time vars.$transition-type;
    transition-property: color, background-color, box-shadow;

    &:hover {
        --ui-pagination-color: var(--ui-pagination-hover-color);
        --ui-pagination-bg: var(--ui-pagination-hover-bg);

        z-index: 2;
    }

    &:focus {
        --ui-pagination-color: var(--ui-pagination-focus-color);
        --ui-pagination-bg: var(--ui-pagination-focus-bg);

        z-index: 3;
        outline: 0;
        box-shadow: var(--ui-pagination-focus-box-shadow);
    }

    &.active,
    .active > & {
        --ui-pagination-color: var(--ui-pagination-active-color);
        --ui-pagination-bg: var(--ui-pagination-active-bg);
        --ui-pagination-border-color: var(--ui-pagination-active-border-color);

        z-index: 3;
    }

    &.disabled,
    .disabled > & {
        --ui-pagination-color: var(--ui-pagination-disabled-color);
        --ui-pagination-bg: var(--ui-pagination-disabled-bg);
        --ui-pagination-border-color: var(--ui-pagination-disabled-border-color);

        pointer-events: none;
    }
}

.page-item {
    &:first-child .page-link {
        @include mixins.border-left-radius(var(--ui-pagination-border-radius));
    }

    &:last-child .page-link {
        @include mixins.border-right-radius(var(--ui-pagination-border-radius));
    }

    &:not(:first-child) .page-link {
        margin-left: calc(var(--ui-pagination-border-width) * -1);
    }
}

.pagination-sm .page-link {
    --ui-pagination-padding-x: #{vars.$pagination-sm-padding-x};
    --ui-pagination-padding-y: #{vars.$pagination-sm-padding-y};
    --ui-pagination-font-size: #{vars.$pagination-sm-font-size};
}

.pagination-lg .page-link {
    --ui-pagination-padding-x: #{vars.$pagination-lg-padding-x};
    --ui-pagination-padding-y: #{vars.$pagination-lg-padding-y};
    --ui-pagination-font-size: #{vars.$pagination-lg-font-size};
}
