@use "../functions";
@use "../vars";

@keyframes placeholder-glow {
    50% {
        opacity: vars.$placeholder-opacity-min;
    }
}

@keyframes placeholder-wave {
    100% {
        mask-position: -200% 0%;
    }
}

.placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: vars.$placeholder-opacity-max;

    &:not(.btn) {
        background-color: currentcolor;
    }

    &.btn::before {
        display: inline-block;
        content: "";
    }
}

.placeholder-xs {
    min-height: .6em;
}

.placeholder-sm {
    min-height: .8em;
}

.placeholder-lg {
    min-height: 1.2em;
}

.placeholder-glow .placeholder {
    animation: placeholder-glow calc(var(--ui-animation-duration) * 2) var(--ui-transition-timing-function) infinite;
}

.placeholder-wave {
    mask-image: linear-gradient(130deg, vars.$black 55%, functions.color-alpha("black", (1 - vars.$placeholder-opacity-min)) 75%, vars.$black 95%);
    mask-size: 200% 100%;
    animation: placeholder-wave calc(var(--ui-animation-duration) * 2) linear infinite;
}

@media (prefers-reduced-motion: reduce) {

    .placeholder-glow .placeholder,
    .placeholder-wave {
        animation: none;
    }
}
