@use "../mixins";
@use "../vars";

.popover {
    --ui-popover-z-index: #{vars.$popover-z-index};
    --ui-popover-max-width: #{vars.$popover-max-width};
    --ui-popover-bg: #{vars.$popover-bg};
    --ui-popover-backdrop-filter: #{vars.$popover-backdrop-filter};
    --ui-popover-border-width: #{vars.$popover-border-width};
    --ui-popover-border-color: #{vars.$popover-border-color};
    --ui-popover-border-radius: #{vars.$popover-border-radius};
    --ui-popover-box-shadow: #{vars.$popover-box-shadow};
    --ui-popover-header-padding-x: #{vars.$popover-header-padding-x};
    --ui-popover-header-padding-y: #{vars.$popover-header-padding-y};
    --ui-popover-header-font-size: #{vars.$popover-header-font-size};
    --ui-popover-header-font-weight: #{vars.$popover-header-font-weight};
    --ui-popover-header-line-height: #{vars.$popover-header-line-height};
    --ui-popover-header-bg: #{vars.$popover-header-bg};
    --ui-popover-body-padding-x: #{vars.$popover-body-padding-x};
    --ui-popover-body-padding-y: #{vars.$popover-body-padding-y};
    --ui-popover-body-color: #{vars.$popover-body-color};
    --ui-popover-arrow-width: #{vars.$popover-arrow-width};
    --ui-popover-arrow-height: #{vars.$popover-arrow-height};

    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--ui-popover-z-index);
    display: block;
    max-width: var(--ui-popover-max-width);
    @include mixins.reset-text();
    font-size: vars.$popover-font-size;
    overflow-wrap: break-word;
    background-color: var(--ui-popover-bg);
    background-clip: padding-box;
    border: var(--ui-popover-border-width) var(--ui-border-style) var(--ui-popover-border-color);
    box-shadow: var(--ui-popover-box-shadow);
    opacity: 0;
    backdrop-filter: var(--ui-popover-backdrop-filter);
    @include mixins.border-radius(var(--ui-popover-border-radius));

    &.show {
        opacity: 1;
    }

    .popover-arrow {
        position: absolute;
        display: block;
        width: var(--ui-popover-arrow-width);
        height: var(--ui-popover-arrow-height);
        pointer-events: none;

        &::before,
        &::after {
            position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-ui-placement="top"] .popover-arrow {
        bottom: 0;

        &::before {
            top: var(--ui-popover-border-width);
            border-width: var(--ui-popover-arrow-height) var(--ui-popover-arrow-height) 0;
            border-top-color: var(--ui-popover-border-color);
        }

        &::after {
            top: 0;
            border-width: var(--ui-popover-arrow-height) var(--ui-popover-arrow-height) 0;
            border-top-color: var(--ui-popover-bg);
        }
    }

    &[data-ui-placement="end"] .popover-arrow {
        inset-inline-start: 0;

        &::before {
            inset-inline-end: var(--ui-popover-border-width);
            border-block-width: var(--ui-popover-arrow-height);
            border-inline-start-width: 0;
            border-inline-end-color: var(--ui-popover-border-color);
            border-inline-end-width: var(--ui-popover-arrow-height);
        }

        &::after {
            inset-inline-end: 0;
            border-block-width: var(--ui-popover-arrow-height);
            border-inline-start-width: 0;
            border-inline-end-color: var(--ui-popover-bg);
            border-inline-end-width: var(--ui-popover-arrow-height);
        }
    }

    &[data-ui-placement="bottom"] .popover-arrow {
        top: 0;

        &::before {
            bottom: var(--ui-popover-border-width);
            border-width: 0 var(--ui-popover-arrow-height) var(--ui-popover-arrow-height);
            border-bottom-color: var(--ui-popover-border-color);
        }

        &::after {
            bottom: 0;
            border-width: 0 var(--ui-popover-arrow-height) var(--ui-popover-arrow-height);
            border-bottom-color: var(--ui-popover-bg);
        }
    }

    &[data-ui-placement="start"] .popover-arrow {
        inset-inline-end: 0;

        &::before {
            inset-inline-start: var(--ui-popover-border-width);
            border-block-width: var(--ui-popover-arrow-height);
            border-inline-start-color: var(--ui-popover-border-color);
            border-inline-start-width: var(--ui-popover-arrow-height);
            border-inline-end-width: 0;
        }

        &::after {
            inset-inline-start: 0;
            border-block-width: var(--ui-popover-arrow-height);
            border-inline-start-color: var(--ui-popover-bg);
            border-inline-start-width: var(--ui-popover-arrow-height);
            border-inline-end-width: 0;
        }
    }
}

.popover-header {
    padding-block: var(--ui-popover-header-padding-y);
    padding-inline: var(--ui-popover-header-padding-x);
    margin-block-end: 0;
    font-size: var(--ui-popover-header-font-size);
    font-weight: var(--ui-popover-header-font-weight);
    line-height: var(--ui-popover-header-line-height);
    color: inherit;
    background-color: var(--ui-popover-header-bg);
    border-block-end: var(--ui-popover-border-width) var(--ui-border-style) var(--ui-popover-border-color);
    @include mixins.border-top-radius(var(--ui-popover-border-radius));

    &:empty {
        display: none;
    }
}

.popover-body {
    padding-block: var(--ui-popover-body-padding-y);
    padding-inline: var(--ui-popover-body-padding-x);
    color: var(--ui-popover-body-color);
}
