@use "../mixins";
@use "../vars";

@keyframes progress-bar-stripes {
    from {
        background-position: vars.$progress-bar-striped-background-size-x 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    --ui-progress-height: #{vars.$progress-height};
    --ui-progress-bg: #{vars.$progress-bg};
    --ui-progress-border-radius: #{vars.$progress-border-radius};
    --ui-progress-vertical-height: #{vars.$progress-vertical-height};
    --ui-progress-vertical-width: #{vars.$progress-vertical-width};
    --ui-progress-bar-color: #{vars.$progress-bar-color};
    --ui-progress-bar-bg: #{vars.$progress-bar-bg};
    --ui-progress-bar-box-shadow: #{vars.$progress-bar-box-shadow};

    display: flex;
    height: var(--ui-progress-height);
    overflow: hidden;
    font-size: vars.$progress-font-size;
    background-color: var(--ui-progress-bg);
    @include mixins.border-radius(var(--ui-progress-border-radius));
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--ui-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--ui-progress-bar-bg);
    transition: width var(--ui-transition-duration) var(--ui-transition-timing-function);

    &:not([class*="bg-"]) {
        box-shadow: var(--ui-progress-bar-box-shadow);
    }
}

.progress-bar-striped {
    background-image: vars.$progress-bar-striped-background-image;
    background-size: vars.$progress-bar-striped-background-size-x vars.$progress-bar-striped-background-size-y;
}

.progress-bar-animated {
    animation: progress-bar-stripes var(--ui-animation-duration) linear infinite;
}

.progress-vertical {
    flex-direction: column;
    align-items: flex-end;
    width: var(--ui-progress-vertical-width);
    height: var(--ui-progress-vertical-height);

    .progress-bar {
        width: 100%;
        transition: height var(--ui-transition-duration) var(--ui-transition-timing-function);

        &:first-child {
            margin-top: auto;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        animation: none;
    }
}
