@use "../mixins";
@use "../vars";

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-border,
.spinner-grow {
    --ui-spinner-width: #{vars.$spinner-width};
    --ui-spinner-height: #{vars.$spinner-height};
    --ui-spinner-vertical-align: #{vars.$spinner-vertical-align};
    --ui-spinner-animation-speed: #{vars.$spinner-animation-speed};

    width: var(--ui-spinner-width);
    height: var(--ui-spinner-height);
    vertical-align: var(--ui-spinner-vertical-align);
    @include mixins.border-radius(50%);
    animation: var(--ui-spinner-animation-name) var(--ui-spinner-animation-speed) var(--ui-transition-timing-function) infinite;
}

.spinner-border {
    --ui-spinner-border-width: #{vars.$spinner-border-width};
    --ui-spinner-animation-name: spinner-border;

    display: inline-flex;
    border: var(--ui-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
}

.spinner-grow {
    --ui-spinner-animation-name: spinner-grow;

    display: inline-block;
    background-color: currentcolor;
    opacity: 0;
}

.spinner-border-sm,
.spinner-grow-sm {
    --ui-spinner-width: #{vars.$spinner-width-sm};
    --ui-spinner-height: #{vars.$spinner-height-sm};
}

.spinner-border-sm {
    --ui-spinner-border-width: #{vars.$spinner-border-width-sm};
}

.btn {

    :is(.spinner-border, .spinner-grow) {
        position: relative;
        top: calc(var(--ui-btn-border-width) * -1);
    }
}

@media (prefers-reduced-motion: reduce) {

    .spinner-grow,
    .spinner-border {
        animation: none;
    }

    .spinner-grow {
        opacity: 1;
    }
}
