@use "../mixins";
@use "../vars";

.toast {
    --ui-toast-max-width: #{vars.$toast-max-width};
    --ui-toast-padding-x: #{vars.$toast-padding-x};
    --ui-toast-padding-y: #{vars.$toast-padding-y};
    --ui-toast-margin-bottom: #{vars.$toast-margin-bottom};
    --ui-toast-font-size: #{vars.$toast-font-size};
    --ui-toast-bg: #{vars.$toast-bg};
    --ui-toast-border-width: #{vars.$toast-border-width};
    --ui-toast-border-color: #{vars.$toast-border-color};
    --ui-toast-border-radius: #{vars.$toast-border-radius};
    --ui-toast-box-shadow: #{vars.$toast-box-shadow};
    --ui-toast-backdrop-filter: #{vars.$toast-backdrop-filter};
    --ui-toast-header-color: #{vars.$toast-header-color};
    --ui-toast-header-bg: #{vars.$toast-header-bg};
    --ui-toast-header-border-color: #{vars.$toast-header-border-color};

    width: var(--ui-toast-max-width);
    max-width: 100%;
    font-size: var(--ui-toast-font-size);
    pointer-events: auto;
    background-color: var(--ui-toast-bg);
    background-clip: padding-box;
    border: var(--ui-toast-border-width) var(--ui-border-style) var(--ui-toast-border-color);
    box-shadow: var(--ui-toast-box-shadow);
    opacity: 0;
    backdrop-filter: var(--ui-toast-backdrop-filter);
    @include mixins.border-radius(var(--ui-toast-border-radius));

    &.show {
        display: block;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}

.toast-container {
    width: max-content;
    max-width: 100%;
    pointer-events: none;

    > :not(:last-child) {
        margin-bottom: var(--ui-toast-margin-bottom);
    }
}

.toast-header {
    display: flex;
    align-items: center;
    padding: var(--ui-toast-padding-y) var(--ui-toast-padding-x);
    color: var(--ui-toast-header-color);
    background-color: var(--ui-toast-header-bg);
    background-clip: padding-box;
    border-bottom: var(--ui-toast-border-width) var(--ui-border-style) var(--ui-toast-border-color);
    @include mixins.border-top-radius(calc(var(--ui-toast-border-radius) - var(--ui-toast-border-width)));

    .btn-close {
        margin-inline-start: var(--ui-toast-padding-x);
        margin-inline-end: calc(var(--ui-toast-padding-x) * -.5);
    }
}

.toast-body {
    padding: var(--ui-toast-padding-x);
    overflow-wrap: break-word;
}
