@use "../mixins";
@use "../vars";

.tooltip {
    --ui-tooltip-z-index: #{vars.$tooltip-z-index};
    --ui-tooltip-max-width: #{vars.$tooltip-max-width};
    --ui-tooltip-padding-x: #{vars.$tooltip-padding-x};
    --ui-tooltip-padding-y: #{vars.$tooltip-padding-y};
    --ui-tooltip-font-size: #{vars.$tooltip-font-size};
    --ui-tooltip-color: #{vars.$tooltip-color};
    --ui-tooltip-bg: #{vars.$tooltip-bg};
    --ui-tooltip-border-radius: #{vars.$tooltip-border-radius};
    --ui-tooltip-box-shadow: #{vars.$tooltip-box-shadow};
    --ui-tooltip-opacity: #{vars.$tooltip-opacity};
    --ui-tooltip-arrow-width: #{vars.$tooltip-arrow-width};
    --ui-tooltip-arrow-height: #{vars.$tooltip-arrow-height};

    position: absolute;
    z-index: var(--ui-tooltip-z-index);
    display: block;
    margin: 0;
    font-size: var(--ui-tooltip-font-size);
    overflow-wrap: break-word;
    opacity: 0;
    @include mixins.reset-text();

    &.show {
        opacity: var(--ui-tooltip-opacity);
    }

    .tooltip-arrow {
        position: absolute;
        display: block;
        width: var(--ui-tooltip-arrow-width);
        height: var(--ui-tooltip-arrow-height);
        pointer-events: none;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-ui-placement="top"] .tooltip-arrow {
        bottom: 0;

        &::before {
            top: 0;
            border-width: var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height) 0;
            border-top-color: var(--ui-tooltip-bg);
        }
    }

    &[data-ui-placement="end"] .tooltip-arrow {
        inset-inline-start: 0;

        &::before {
            inset-inline-end: 0;
            border-block-width: var(--ui-tooltip-arrow-height);
            border-inline-start-width: 0;
            border-inline-end-color: var(--ui-tooltip-bg);
            border-inline-end-width: var(--ui-tooltip-arrow-height);
        }
    }

    &[data-ui-placement="bottom"] .tooltip-arrow {
        top: 0;

        &::before {
            bottom: 0;
            border-width: 0 var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height);
            border-bottom-color: var(--ui-tooltip-bg);
        }
    }

    &[data-ui-placement="start"] .tooltip-arrow {
        inset-inline-end: 0;

        &::before {
            inset-inline-start: 0;
            border-block-width: var(--ui-tooltip-arrow-height);
            border-inline-start-color: var(--ui-tooltip-bg);
            border-inline-start-width: var(--ui-tooltip-arrow-height);
            border-inline-end-width: 0;
        }
    }
}

.tooltip-inner {
    max-width: var(--ui-tooltip-max-width);
    padding-block: var(--ui-tooltip-padding-y);
    padding-inline: var(--ui-tooltip-padding-x);
    color: var(--ui-tooltip-color);
    text-align: center;
    background-color: var(--ui-tooltip-bg);
    box-shadow: var(--ui-tooltip-box-shadow);
    @include mixins.border-radius(var(--ui-tooltip-border-radius));
}
