@use "../vars/helpers";

/// Attaches a directional caret to a component.
///
/// @param {String} $direction [down] - The caret direction: `down`, `up`, `start`, or `end`.
/// @output A directional caret using a `::before` or `::after` pseudo-element.
@mixin caret($direction: down) {
    @if $direction == start {
        &::before {
            display: inline-block;
            margin-inline-end: helpers.$caret-spacing;
            vertical-align: helpers.$caret-vertical-align - (helpers.$caret-size * .5);
            content: "";
            border-top: helpers.$caret-size solid transparent;
            border-right: helpers.$caret-size solid;
            border-bottom: helpers.$caret-size solid transparent;
        }

        &:empty::before {
            margin-inline-end: 0;
        }

        &::after {
            display: none;
        }
    } @else {
        &::after {
            display: inline-block;
            margin-inline-start: helpers.$caret-spacing;
            @if $direction == end {
                vertical-align: helpers.$caret-vertical-align - (helpers.$caret-size * .5);
            } @else {
                vertical-align: helpers.$caret-vertical-align;
            }
            content: "";
            @if $direction == down {
                border-top: helpers.$caret-size solid;
                border-right: helpers.$caret-size solid transparent;
                border-bottom: 0;
                border-left: helpers.$caret-size solid transparent;
            } @else if $direction == up {
                border-top: 0;
                border-right: helpers.$caret-size solid transparent;
                border-bottom: helpers.$caret-size solid;
                border-left: helpers.$caret-size solid transparent;
            } @else if $direction == end {
                border-top: helpers.$caret-size solid transparent;
                border-right: 0;
                border-bottom: helpers.$caret-size solid transparent;
                border-left: helpers.$caret-size solid;
            }
        }

        &:empty::after {
            margin-inline-start: 0;
        }
    }
}
