@use "../functions";
@use "../mixins";
@use "../vars";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ui-body-font-family);
    font-size: var(--ui-body-font-size);
    font-weight: var(--ui-body-font-weight);
    line-height: var(--ui-body-line-height);
    color: var(--ui-body-color);
    text-align: start;
    background-color: var(--ui-body-bg);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: var(--ui-primary-contrast);
    background-color: var(--ui-primary);
}

hr {
    margin: vars.$hr-margin-y 0;
    background-color: currentcolor;
    border: 0;
    opacity: vars.$hr-opacity;
}

hr:not([size]) {
    height: vars.$hr-height;
}

// headings

%heading {
    margin-top: 0;
    margin-bottom: vars.$headings-margin-bottom;
    font-family: vars.$headings-font-family;
    font-style: vars.$headings-font-style;
    font-weight: vars.$headings-font-weight;
    line-height: vars.$headings-line-height;
    color: vars.$headings-color;
    letter-spacing: vars.$headings-letter-spacing;
    text-wrap: balance;
}

h1 {
    @extend %heading;
    font-size: functions.text-size(vars.$h1-font-size);
}

h2 {
    @extend %heading;
    font-size: functions.text-size(vars.$h2-font-size);
}

h3 {
    @extend %heading;
    font-size: functions.text-size(vars.$h3-font-size);
}

h4 {
    @extend %heading;
    font-size: functions.text-size(vars.$h4-font-size);
}

h5 {
    @extend %heading;
    font-size: functions.text-size(vars.$h5-font-size);
}

h6 {
    @extend %heading;
    font-size: functions.text-size(vars.$h6-font-size);
}

// paragraphs
p {
    margin-top: 0;
    margin-bottom: vars.$p-margin-bottom;
}

// abbreviations

abbr[title],
abbr[data-ui-original-title] {
    text-decoration: underline dotted;
    cursor: help;
    border-block-end: none;
}

// address

address {
    margin-bottom: vars.$address-margin-bottom;
    font-style: normal;
    line-height: inherit;
}

// lists

ol,
ul {
    padding-inline-start: vars.$list-padding-start;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: vars.$spacing;
}

ol ul,
ul ul,
ol ol,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: vars.$dt-font-weight;
}

dd {
    margin-inline-start: 0;
    margin-bottom: vars.$dd-margin-bottom;
}

// blockquote

blockquote {
    margin: 0 0 vars.$blockquote-margin-bottom;
}

// strong

b,
strong {
    font-weight: vars.$strong-font-weight;
}

// small

small {
    font-size: vars.$small-font-size;
}

// mark

mark {
    padding: vars.$mark-padding;
    background-color: var(--ui-mark-bg);
}

// sub and sup

sub,
sup {
    position: relative;
    font-size: vars.$sub-sup-font-size;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: vars.$sub-bottom;
}

sup {
    top: vars.$sup-top;
}

// links

a {
    color: functions.color-alpha(link-color, var(--ui-link-opacity, 1));
    text-decoration: var(--ui-link-decoration);

    &:hover {
        --ui-link-decoration: var(--ui-link-hover-decoration);
        color: functions.color-alpha(link-hover-color, var(--ui-link-opacity, 1));
    }
}

a:not([href]):not([class]) {

    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// code

code,
kbd,
pre,
samp,
xmp {
    font-family: var(--ui-font-monospace);
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: vars.$blockquote-margin-bottom;
    overflow: auto;
    font-size: vars.$small-font-size;

    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
}

code {
    font-size: vars.$small-font-size;
    color: var(--ui-code-color);
    overflow-wrap: break-word;

    @at-root a>#{&} {
        color: inherit;
    }
}

kbd {
    padding: vars.$kbd-padding-y vars.$kbd-padding-x;
    font-size: vars.$small-font-size;
    color: vars.$kbd-color;
    background-color: vars.$kbd-bg;
    border-radius: vars.$kbd-border-radius;

    kbd {
        padding: 0;
        font-size: 1em;
        font-weight: vars.$kbd-kbd-font-weight;
    }
}

// figure

figure {
    margin: 0 0 vars.$figure-margin-bottom;
}

// images

img,
svg {
    vertical-align: middle;
}

// tables

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: vars.$table-cell-padding-y;
    padding-bottom: vars.$table-cell-padding-y;
    color: var(--ui-secondary-color);
    text-align: start;
}

th {
    font-weight: vars.$table-th-font-weight;
    text-align: inherit;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: var(--ui-border-style);
    border-width: 0;
}

// forms

input,
progress {
    accent-color: var(--ui-primary);
}

label {
    display: inline-block;
}

button {
    @include mixins.border-radius(0);

    &:focus:not(:focus-visible) {
        outline: 0;
    }
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select:not([multiple]) > * {
    color: var(--ui-body-color);
    background-color: var(--ui-tertiary-bg);
}

[role="button"] {
    cursor: pointer;
}

select {
    overflow-wrap: normal;

    &:disabled {
        opacity: 1;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: auto;

    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: inline-start;
    width: 100%;
    padding: 0;
    margin-bottom: vars.$legend-margin-bottom;
    font-size: vars.$legend-font-size;
    font-weight: vars.$legend-font-weight;
    line-height: inherit;

    +* {
        clear: left;
    }
}

[type="search"] {
    appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-file-upload-button {
    font: inherit;
    appearance: auto;
}

::file-selector-button {
    font: inherit;
    appearance: auto;
}

output {
    display: inline-block;
}

// iframe

iframe {
    border: 0;
}

// summary

summary {
    display: list-item;
    cursor: pointer;
}

// progress

progress {
    vertical-align: baseline;
}

// hidden

[hidden] {
    display: none !important;
}
