@use "../vars";

@use "sass:map";

.figure {
    --ui-figure-caption-color: #{vars.$figure-caption-color};

    display: inline-block;
}

.figure-img {
    margin-block-end: vars.$figure-img-margin-bottom;
    line-height: map.get(vars.$line-heights, 1);
}

.figure-caption {
    font-size: vars.$figure-caption-font-size;
    color: var(--ui-figure-caption-color);
}
