@use "../functions";
@use "../vars";

@use "sass:map";

:root {
    --ui-safe-area-inset-top: env(safe-area-inset-top, 0px);
    --ui-safe-area-inset-right: env(safe-area-inset-right, 0px);
    --ui-safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --ui-safe-area-inset-left: env(safe-area-inset-left, 0px);
    --ui-animation-duration: #{vars.$animation-time};
    --ui-transition-duration-fast: #{vars.$transition-time-fast};
    --ui-transition-duration: #{vars.$transition-time};
    --ui-transition-timing-function: #{vars.$transition-type};

    --ui-font-sans-serif: #{vars.$font-sans-serif};
    --ui-font-monospace: #{vars.$font-monospace};
    --ui-font-size: #{vars.$font-size};
    --ui-font-size-sm: #{vars.$font-size-sm};
    --ui-font-size-lg: #{vars.$font-size-lg};

    --ui-body-font-family: var(--ui-font-sans-serif);
    --ui-body-font-size: #{vars.$body-font-size};
    --ui-body-font-weight: #{vars.$body-font-weight};
    --ui-body-line-height: #{vars.$body-line-height};

    --ui-link-decoration: underline;
    --ui-link-hover-decoration: underline;

    --ui-border-width: #{vars.$border-width};
    --ui-border-style: #{vars.$border-style};
    --ui-border-radius: #{vars.$border-radius};
    --ui-border-radius-sm: #{vars.$border-radius-sm};
    --ui-border-radius-lg: #{vars.$border-radius-lg};
    --ui-border-radius-xl: #{vars.$border-radius-xl};
    --ui-border-radius-xxl: #{vars.$border-radius-xxl};
    --ui-border-radius-pill: #{vars.$border-radius-pill};

    --ui-focus-ring-width: #{vars.$focus-ring-width};
    --ui-focus-ring-opacity: #{vars.$focus-ring-opacity};
    --ui-ripple-opacity: #{vars.$ripple-opacity};

    --ui-breakpoint-xs: #{map.get(vars.$breakpoints, xs)};
    --ui-breakpoint-sm: #{map.get(vars.$breakpoints, sm)};
    --ui-breakpoint-md: #{map.get(vars.$breakpoints, md)};
    --ui-breakpoint-lg: #{map.get(vars.$breakpoints, lg)};
    --ui-breakpoint-xl: #{map.get(vars.$breakpoints, xl)};
    --ui-breakpoint-xxl: #{map.get(vars.$breakpoints, xxl)};

    --ui-text-opacity: 1;
    --ui-bg-opacity: 1;
    --ui-border-opacity: 1;
    --ui-disabled-opacity: #{vars.$disabled-opacity};
}

:root,
[data-ui-theme="light"] {
    --ui-white: #{vars.$white};
    --ui-white-rgb: #{functions.to-rgb(vars.$white)};

    --ui-black: #{vars.$black};
    --ui-black-rgb: #{functions.to-rgb(vars.$black)};

    --ui-gray: #{vars.$gray};
    --ui-gray-rgb: #{functions.to-rgb(vars.$gray)};

    --ui-primary: #{vars.$primary};
    --ui-primary-emphasis: #{vars.$primary-emphasis};
    --ui-primary-highlight: #{vars.$primary-highlight};
    --ui-primary-active: #{vars.$primary-active};
    --ui-primary-subtle: #{vars.$primary-subtle};
    --ui-primary-subtle-emphasis: #{vars.$primary-subtle-emphasis};
    --ui-primary-subtle-text: #{vars.$primary-subtle-text};
    --ui-primary-contrast: #{vars.$primary-contrast};
    --ui-primary-rgb: #{functions.to-rgb(vars.$primary)};
    --ui-primary-emphasis-rgb: #{functions.to-rgb(vars.$primary-emphasis)};
    --ui-primary-subtle-rgb: #{functions.to-rgb(vars.$primary-subtle)};
    --ui-primary-contrast-rgb: #{functions.to-rgb(vars.$primary-contrast)};

    --ui-secondary: #{vars.$secondary};
    --ui-secondary-emphasis: #{vars.$secondary-emphasis};
    --ui-secondary-highlight: #{vars.$secondary-highlight};
    --ui-secondary-active: #{vars.$secondary-active};
    --ui-secondary-subtle: #{vars.$secondary-subtle};
    --ui-secondary-subtle-emphasis: #{vars.$secondary-subtle-emphasis};
    --ui-secondary-subtle-text: #{vars.$secondary-subtle-text};
    --ui-secondary-contrast: #{vars.$secondary-contrast};
    --ui-secondary-rgb: #{functions.to-rgb(vars.$secondary)};
    --ui-secondary-emphasis-rgb: #{functions.to-rgb(vars.$secondary-emphasis)};
    --ui-secondary-subtle-rgb: #{functions.to-rgb(vars.$secondary-subtle)};
    --ui-secondary-contrast-rgb: #{functions.to-rgb(vars.$secondary-contrast)};

    --ui-success: #{vars.$success};
    --ui-success-emphasis: #{vars.$success-emphasis};
    --ui-success-highlight: #{vars.$success-highlight};
    --ui-success-active: #{vars.$success-active};
    --ui-success-subtle: #{vars.$success-subtle};
    --ui-success-subtle-emphasis: #{vars.$success-subtle-emphasis};
    --ui-success-subtle-text: #{vars.$success-subtle-text};
    --ui-success-contrast: #{vars.$success-contrast};
    --ui-success-rgb: #{functions.to-rgb(vars.$success)};
    --ui-success-emphasis-rgb: #{functions.to-rgb(vars.$success-emphasis)};
    --ui-success-subtle-rgb: #{functions.to-rgb(vars.$success-subtle)};
    --ui-success-contrast-rgb: #{functions.to-rgb(vars.$success-contrast)};

    --ui-info: #{vars.$info};
    --ui-info-emphasis: #{vars.$info-emphasis};
    --ui-info-highlight: #{vars.$info-highlight};
    --ui-info-active: #{vars.$info-active};
    --ui-info-subtle: #{vars.$info-subtle};
    --ui-info-subtle-emphasis: #{vars.$info-subtle-emphasis};
    --ui-info-subtle-text: #{vars.$info-subtle-text};
    --ui-info-contrast: #{vars.$info-contrast};
    --ui-info-rgb: #{functions.to-rgb(vars.$info)};
    --ui-info-emphasis-rgb: #{functions.to-rgb(vars.$info-emphasis)};
    --ui-info-subtle-rgb: #{functions.to-rgb(vars.$info-subtle)};
    --ui-info-contrast-rgb: #{functions.to-rgb(vars.$info-contrast)};

    --ui-warning: #{vars.$warning};
    --ui-warning-emphasis: #{vars.$warning-emphasis};
    --ui-warning-highlight: #{vars.$warning-highlight};
    --ui-warning-active: #{vars.$warning-active};
    --ui-warning-subtle: #{vars.$warning-subtle};
    --ui-warning-subtle-emphasis: #{vars.$warning-subtle-emphasis};
    --ui-warning-subtle-text: #{vars.$warning-subtle-text};
    --ui-warning-contrast: #{vars.$warning-contrast};
    --ui-warning-rgb: #{functions.to-rgb(vars.$warning)};
    --ui-warning-emphasis-rgb: #{functions.to-rgb(vars.$warning-emphasis)};
    --ui-warning-subtle-rgb: #{functions.to-rgb(vars.$warning-subtle)};
    --ui-warning-contrast-rgb: #{functions.to-rgb(vars.$warning-contrast)};

    --ui-danger: #{vars.$danger};
    --ui-danger-emphasis: #{vars.$danger-emphasis};
    --ui-danger-highlight: #{vars.$danger-highlight};
    --ui-danger-active: #{vars.$danger-active};
    --ui-danger-subtle: #{vars.$danger-subtle};
    --ui-danger-subtle-emphasis: #{vars.$danger-subtle-emphasis};
    --ui-danger-subtle-text: #{vars.$danger-subtle-text};
    --ui-danger-contrast: #{vars.$danger-contrast};
    --ui-danger-rgb: #{functions.to-rgb(vars.$danger)};
    --ui-danger-emphasis-rgb: #{functions.to-rgb(vars.$danger-emphasis)};
    --ui-danger-subtle-rgb: #{functions.to-rgb(vars.$danger-subtle)};
    --ui-danger-contrast-rgb: #{functions.to-rgb(vars.$danger-contrast)};

    --ui-light: #{vars.$light};
    --ui-light-emphasis: #{vars.$light-emphasis};
    --ui-light-highlight: #{vars.$light-highlight};
    --ui-light-active: #{vars.$light-active};
    --ui-light-subtle: #{vars.$light-subtle};
    --ui-light-subtle-emphasis: #{vars.$light-subtle-emphasis};
    --ui-light-subtle-text: #{vars.$light-subtle-text};
    --ui-light-contrast: #{vars.$light-contrast};
    --ui-light-rgb: #{functions.to-rgb(vars.$light)};
    --ui-light-emphasis-rgb: #{functions.to-rgb(vars.$light-emphasis)};
    --ui-light-subtle-rgb: #{functions.to-rgb(vars.$light-subtle)};
    --ui-light-contrast-rgb: #{functions.to-rgb(vars.$light-contrast)};

    --ui-dark: #{vars.$dark};
    --ui-dark-emphasis: #{vars.$dark-emphasis};
    --ui-dark-highlight: #{vars.$dark-highlight};
    --ui-dark-active: #{vars.$dark-active};
    --ui-dark-subtle: #{vars.$dark-subtle};
    --ui-dark-subtle-emphasis: #{vars.$dark-subtle-emphasis};
    --ui-dark-subtle-text: #{vars.$dark-subtle-text};
    --ui-dark-contrast: #{vars.$dark-contrast};
    --ui-dark-rgb: #{functions.to-rgb(vars.$dark)};
    --ui-dark-emphasis-rgb: #{functions.to-rgb(vars.$dark-emphasis)};
    --ui-dark-subtle-rgb: #{functions.to-rgb(vars.$dark-subtle)};
    --ui-dark-contrast-rgb: #{functions.to-rgb(vars.$dark-contrast)};

    --ui-gradient: #{vars.$gradient};

    --ui-body-bg: #{vars.$body-bg};
    --ui-body-bg-rgb: #{functions.to-rgb(vars.$body-bg)};

    --ui-body-color: #{vars.$body-color};
    --ui-body-color-rgb: #{functions.to-rgb(vars.$body-color)};

    --ui-secondary-bg: #{vars.$body-secondary-bg};
    --ui-secondary-bg-rgb: #{functions.to-rgb(vars.$body-secondary-bg)};
    --ui-secondary-color: #{vars.$body-secondary-color};
    --ui-secondary-color-rgb: #{functions.to-rgb(vars.$body-secondary-color)};

    --ui-tertiary-bg: #{vars.$body-tertiary-bg};
    --ui-tertiary-bg-rgb: #{functions.to-rgb(vars.$body-tertiary-bg)};
    --ui-tertiary-color: #{vars.$body-tertiary-color};
    --ui-tertiary-color-rgb: #{functions.to-rgb(vars.$body-tertiary-color)};

    --ui-emphasis-color: #{vars.$emphasis-color};
    --ui-emphasis-color-rgb: #{functions.to-rgb(vars.$emphasis-color)};

    --ui-link-color: #{vars.$link-color};
    --ui-link-color-rgb: #{functions.to-rgb(vars.$link-color)};
    --ui-link-hover-color: #{vars.$link-color-hover};
    --ui-link-hover-color-rgb: #{functions.to-rgb(vars.$link-color-hover)};

    --ui-code-color: #{vars.$code-color};
    --ui-mark-bg: #{vars.$mark-bg};

    --ui-border-color: #{vars.$border-color};
    --ui-border-color-translucent: #{vars.$border-color-translucent};

    --ui-shadow: #{vars.$shadow};
    --ui-shadow-sm: #{vars.$shadow-sm};
    --ui-shadow-lg: #{vars.$shadow-lg};

    --ui-focus-ring-color: #{vars.$focus-ring-color};

    --ui-ripple-bg: #{vars.$ripple-bg};
}

[data-ui-theme="light"] {
    color-scheme: light;
}

[data-ui-theme="dark"] {
    color-scheme: dark;

    --ui-shadow: #{vars.$shadow-dark};
    --ui-shadow-sm: #{vars.$shadow-sm-dark};
    --ui-shadow-lg: #{vars.$shadow-lg-dark};

    --ui-primary-emphasis: #{vars.$primary-emphasis-dark};
    --ui-primary-subtle: #{vars.$primary-subtle-dark};
    --ui-primary-subtle-emphasis: #{vars.$primary-subtle-emphasis-dark};
    --ui-primary-subtle-text: #{vars.$primary-subtle-text-dark};
    --ui-primary-emphasis-rgb: #{functions.to-rgb(vars.$primary-emphasis-dark)};
    --ui-primary-subtle-rgb: #{functions.to-rgb(vars.$primary-subtle-dark)};

    --ui-secondary-emphasis: #{vars.$secondary-emphasis-dark};
    --ui-secondary-subtle: #{vars.$secondary-subtle-dark};
    --ui-secondary-subtle-emphasis: #{vars.$secondary-subtle-emphasis-dark};
    --ui-secondary-subtle-text: #{vars.$secondary-subtle-text-dark};
    --ui-secondary-emphasis-rgb: #{functions.to-rgb(vars.$secondary-emphasis-dark)};
    --ui-secondary-subtle-rgb: #{functions.to-rgb(vars.$secondary-subtle-dark)};

    --ui-success-emphasis: #{vars.$success-emphasis-dark};
    --ui-success-subtle: #{vars.$success-subtle-dark};
    --ui-success-subtle-emphasis: #{vars.$success-subtle-emphasis-dark};
    --ui-success-subtle-text: #{vars.$success-subtle-text-dark};
    --ui-success-emphasis-rgb: #{functions.to-rgb(vars.$success-emphasis-dark)};
    --ui-success-subtle-rgb: #{functions.to-rgb(vars.$success-subtle-dark)};

    --ui-info-emphasis: #{vars.$info-emphasis-dark};
    --ui-info-subtle: #{vars.$info-subtle-dark};
    --ui-info-subtle-emphasis: #{vars.$info-subtle-emphasis-dark};
    --ui-info-subtle-text: #{vars.$info-subtle-text-dark};
    --ui-info-emphasis-rgb: #{functions.to-rgb(vars.$info-emphasis-dark)};
    --ui-info-subtle-rgb: #{functions.to-rgb(vars.$info-subtle-dark)};

    --ui-warning-emphasis: #{vars.$warning-emphasis-dark};
    --ui-warning-subtle: #{vars.$warning-subtle-dark};
    --ui-warning-subtle-emphasis: #{vars.$warning-subtle-emphasis-dark};
    --ui-warning-subtle-text: #{vars.$warning-subtle-text-dark};
    --ui-warning-emphasis-rgb: #{functions.to-rgb(vars.$warning-emphasis-dark)};
    --ui-warning-subtle-rgb: #{functions.to-rgb(vars.$warning-subtle-dark)};

    --ui-danger-emphasis: #{vars.$danger-emphasis-dark};
    --ui-danger-subtle: #{vars.$danger-subtle-dark};
    --ui-danger-subtle-emphasis: #{vars.$danger-subtle-emphasis-dark};
    --ui-danger-subtle-text: #{vars.$danger-subtle-text-dark};
    --ui-danger-emphasis-rgb: #{functions.to-rgb(vars.$danger-emphasis-dark)};
    --ui-danger-subtle-rgb: #{functions.to-rgb(vars.$danger-subtle-dark)};

    --ui-light-emphasis: #{vars.$light-emphasis-dark};
    --ui-light-subtle: #{vars.$light-subtle-dark};
    --ui-light-subtle-emphasis: #{vars.$light-subtle-emphasis-dark};
    --ui-light-subtle-text: #{vars.$light-subtle-text-dark};
    --ui-light-emphasis-rgb: #{functions.to-rgb(vars.$light-emphasis-dark)};
    --ui-light-subtle-rgb: #{functions.to-rgb(vars.$light-subtle-dark)};

    --ui-dark-emphasis: #{vars.$dark-emphasis-dark};
    --ui-dark-subtle: #{vars.$dark-subtle-dark};
    --ui-dark-subtle-emphasis: #{vars.$dark-subtle-emphasis-dark};
    --ui-dark-subtle-text: #{vars.$dark-subtle-text-dark};
    --ui-dark-emphasis-rgb: #{functions.to-rgb(vars.$dark-emphasis-dark)};
    --ui-dark-subtle-rgb: #{functions.to-rgb(vars.$dark-subtle-dark)};

    --ui-body-bg: #{vars.$body-bg-dark};
    --ui-body-bg-rgb: #{functions.to-rgb(vars.$body-bg-dark)};

    --ui-body-color: #{vars.$body-color-dark};
    --ui-body-color-rgb: #{functions.to-rgb(vars.$body-color-dark)};

    --ui-secondary-bg: #{vars.$body-secondary-bg-dark};
    --ui-secondary-bg-rgb: #{functions.to-rgb(vars.$body-secondary-bg-dark)};
    --ui-secondary-color: #{vars.$body-secondary-color-dark};
    --ui-secondary-color-rgb: #{functions.to-rgb(vars.$body-secondary-color-dark)};

    --ui-tertiary-bg: #{vars.$body-tertiary-bg-dark};
    --ui-tertiary-bg-rgb: #{functions.to-rgb(vars.$body-tertiary-bg-dark)};
    --ui-tertiary-color: #{vars.$body-tertiary-color-dark};
    --ui-tertiary-color-rgb: #{functions.to-rgb(vars.$body-tertiary-color-dark)};

    --ui-emphasis-color: #{vars.$emphasis-color-dark};
    --ui-emphasis-color-rgb: #{functions.to-rgb(vars.$emphasis-color-dark)};

    --ui-link-color: #{vars.$link-color-dark};
    --ui-link-color-rgb: #{functions.to-rgb(vars.$link-color-dark)};
    --ui-link-hover-color: #{vars.$link-color-hover-dark};
    --ui-link-hover-color-rgb: #{functions.to-rgb(vars.$link-color-hover-dark)};

    --ui-border-color: #{vars.$border-color-dark};
    --ui-border-color-translucent: #{vars.$border-color-translucent-dark};
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --ui-transition-duration-fast: 0s;
        --ui-transition-duration: 0s;
    }
}
