@use "../functions";
@use "../vars";
@use "base";

.blockquote {
    margin-bottom: vars.$blockquote-margin-bottom;
    font-size: vars.$blockquote-font-size;
}

.blockquote-footer {
    display: block;
    margin-top: vars.$blockquote-footer-margin-top;
    font-size: vars.$blockquote-footer-font-size;
    color: vars.$blockquote-footer-color;

    &::before {
        content: vars.$blockquote-footer-prefix;
    }
}

.h1 {
    @extend h1;
}

.h2 {
    @extend h2;
}

.h3 {
    @extend h3;
}

.h4 {
    @extend h4;
}

.h5 {
    @extend h5;
}

.h6 {
    @extend h6;
}

%display-heading {
    margin-top: 0;
    margin-bottom: vars.$headings-margin-bottom;
    font-family: vars.$headings-font-family;
    font-style: vars.$headings-font-style;
    font-weight: vars.$display-font-weight;
    line-height: vars.$display-line-height;
    color: vars.$headings-color;
}

.display-1 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-1-font-size);
}

.display-2 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-2-font-size);
}

.display-3 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-3-font-size);
}

.display-4 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-4-font-size);
}

.display-5 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-5-font-size);
}

.display-6 {
    @extend %display-heading;
    font-size: functions.text-size(vars.$display-6-font-size);
}

.initialism {
    font-size: vars.$small-font-size;
    text-transform: uppercase;
}

.lead {
    font-size: functions.text-size(vars.$lead-font-size);
    font-weight: vars.$lead-font-weight;
}

.list-inline {
    padding-inline-start: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-inline-end: vars.$list-inline-item-margin-end;
}

.list-unstyled {
    padding-inline-start: 0;
    list-style: none;
}

.mark {
    @extend mark;
}

.small {
    @extend small;
}
