@use "../mixins";
@use "../vars";

@use "sass:math";

.form-check {
    display: block;
    min-height: vars.$form-check-min-height;
    padding-inline-start: vars.$form-check-padding-start;

    .input-check {
        float: inline-start;
        margin-inline-start: vars.$form-check-padding-start * -1;
    }
}

.form-check-inline {
    display: inline-block;
    margin-inline-end: vars.$form-check-inline-margin-end;
}

.input-check {
    position: relative;
    width: vars.$input-check-size;
    height: vars.$input-check-size;
    margin-block-start: vars.$input-check-margin-top;
    vertical-align: top;
    color: vars.$input-check-color;
    appearance: none;
    background-color: vars.$input-check-bg;
    border: vars.$input-check-border-width var(--ui-border-style) var(--ui-input-border-color, #{vars.$input-check-border-color});
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: color, background-color, border-color, box-shadow, transform;

    &:hover:not(:disabled) {
        border-color: var(--ui-input-border-color, #{vars.$input-check-hover-border-color});
    }

    &::before {
        position: absolute;
        inset: 0;
        margin: auto;
        content: "";
        background-color: currentcolor;
        opacity: 0;
        scale: .5;
        transition-timing-function: var(--ui-transition-timing-function);
        transition-duration: var(--ui-transition-duration-fast);
        transition-property: opacity, scale;
    }

    &[type="checkbox"] {
        @include mixins.border-radius(vars.$input-check-checkbox-border-radius);

        &::before {
            inset: calc(vars.$input-check-border-width * -1);
            width: vars.$input-check-size;
            height: vars.$input-check-size;
            mask-image: vars.$input-check-checkbox-checked-background-image;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: vars.$input-check-size;
        }

        &:indeterminate::before {
            mask-image: vars.$input-check-checkbox-indeterminate-background-image;
        }
    }

    &[type="radio"] {
        @include mixins.border-radius(vars.$input-check-radio-border-radius);

        &::before {
            width: math.div(vars.$input-check-size, 2);
            height: math.div(vars.$input-check-size, 2);
            @include mixins.border-radius(50%);
        }
    }

    &:checked,
    &[type="checkbox"]:indeterminate {
        background-color: var(--ui-input-check-checked-bg, #{vars.$input-check-checked-bg});
        border-color: var(--ui-input-border-color, #{vars.$input-check-checked-border-color});
        box-shadow: vars.$input-check-checked-box-shadow;

        &::before {
            opacity: 1;
            scale: 1;
        }
    }

    &:is(:focus-visible, .focus) {
        outline: 0;
        box-shadow: 0 0 0 vars.$input-check-focus-shadow-width vars.$input-check-focus-shadow-color;
    }

    &:disabled {
        pointer-events: none;
        box-shadow: none;
        opacity: vars.$input-check-disabled-opacity;
        transform: none;

        ~.form-check-label {
            opacity: vars.$input-check-disabled-opacity;
        }
    }

    ~.form-check-label {
        color: var(--ui-input-check-label-color);
    }
}

.form-switch {
    padding-inline-start: vars.$form-switch-padding-start;

    .input-check {
        width: vars.$form-switch-input-check-width;
        margin-inline-start: vars.$form-switch-padding-start * -1;
        color: vars.$form-switch-input-check-color;
        @include mixins.border-radius(vars.$form-switch-input-check-border-radius);

        &:is(:focus-visible, .focus) {
            color: var(--ui-input-check-focus-color, #{vars.$form-switch-input-check-focus-color});
        }

        &::before {
            content: none;
        }

        &::after {
            position: absolute;
            inset-block: 0;
            inset-inline-start: vars.$form-switch-input-check-padding;
            width: vars.$form-switch-input-check-thumb-size;
            height: vars.$form-switch-input-check-thumb-size;
            margin-block: auto;
            content: "";
            background-color: currentcolor;
            box-shadow: vars.$form-switch-input-check-thumb-box-shadow;
            transition-timing-function: var(--ui-transition-timing-function);
            transition-duration: var(--ui-transition-duration);
            transition-property: inset-inline-start, box-shadow;
            @include mixins.border-radius(50%);
        }

        &:checked {
            color: vars.$form-switch-input-check-checked-color;

            &::after {
                inset-inline-start: calc(100% - #{vars.$form-switch-input-check-thumb-size} - #{vars.$form-switch-input-check-padding});
            }
        }
    }
}

.btn-check {
    position: absolute;
    pointer-events: none;
    clip-path: inset(50%);
}

@media (prefers-reduced-motion: no-preference) {
    .input-check:not(:disabled):active {
        transform: scale(.92);
    }
}

@media (forced-colors: active) {
    .input-check {
        color: ButtonText;
        forced-color-adjust: none;
        background-color: Canvas;
        border-color: ButtonText;

        &:checked,
        &[type="checkbox"]:indeterminate {
            color: HighlightText;
            background-color: Highlight;
            border-color: Highlight;
        }

        &:disabled {
            color: GrayText;
            border-color: GrayText;
        }
    }
}
