@use "../vars";

.form-text {
    margin-top: vars.$form-text-margin-top;
    font-size: vars.$form-text-font-size;
    color: vars.$form-text-color;
}

.input-plain-text {
    display: block;
    width: 100%;
    padding: vars.$input-padding-y 0;
    margin-bottom: 0;
    line-height: vars.$input-line-height;
    color: vars.$input-plain-text-color;
    outline: 0;
    background-color: transparent;
    border: solid transparent;
    border-block-width: vars.$input-border-width;
    border-inline-width: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: vars.$input-padding-y vars.$input-padding-x;
    font-size: vars.$input-font-size;
    font-weight: vars.$input-group-text-font-weight;
    line-height: vars.$input-line-height;
    color: vars.$input-group-text-color;
    text-align: center;
    white-space: nowrap;
    background-color: vars.$input-group-text-bg;
    border: vars.$input-border-width var(--ui-border-style) var(--ui-input-border-color, #{vars.$input-border-color});
}
