@use "../mixins";
@use "../vars";

.input-range {
    width: 100%;
    height: calc(vars.$input-range-thumb-height + (vars.$input-range-thumb-focus-box-shadow-width * 2));
    padding: 0;
    appearance: none;
    background-color: transparent;

    &:focus-visible {
        outline: 0;

        &::-webkit-slider-thumb {
            box-shadow: vars.$input-range-thumb-focus-box-shadow;
        }

        &::-moz-range-thumb {
            box-shadow: vars.$input-range-thumb-focus-box-shadow;
        }
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        width: vars.$input-range-thumb-width;
        height: vars.$input-range-thumb-height;
        margin-top: (vars.$input-range-track-height - vars.$input-range-thumb-height) * .5;
        appearance: none;
        background-color: vars.$input-range-thumb-bg;
        border: 0;
        @include mixins.border-radius(vars.$input-range-thumb-border-radius);
        box-shadow: vars.$input-range-thumb-box-shadow;
        transition: vars.$input-range-thumb-transition;

        &:active {
            background-color: vars.$input-range-thumb-active-bg;
        }
    }

    &::-webkit-slider-runnable-track {
        width: vars.$input-range-track-width;
        height: vars.$input-range-track-height;
        cursor: pointer;
        background-color: vars.$input-range-track-bg;
        border-color: transparent;
        @include mixins.border-radius(vars.$input-range-track-border-radius);
        box-shadow: vars.$input-range-track-box-shadow;
    }

    &::-moz-range-thumb {
        width: vars.$input-range-thumb-width;
        height: vars.$input-range-thumb-height;
        appearance: none;
        background-color: vars.$input-range-thumb-bg;
        border: 0;
        @include mixins.border-radius(vars.$input-range-thumb-border-radius);
        box-shadow: vars.$input-range-thumb-box-shadow;
        transition: vars.$input-range-thumb-transition;

        &:active {
            background-color: vars.$input-range-thumb-active-bg;
        }
    }

    &::-moz-range-track {
        width: vars.$input-range-track-width;
        height: vars.$input-range-track-height;
        color: transparent;
        cursor: pointer;
        background-color: vars.$input-range-track-bg;
        border-color: transparent;
        @include mixins.border-radius(vars.$input-range-track-border-radius);
        box-shadow: vars.$input-range-track-box-shadow;
    }

    &:disabled {
        pointer-events: none;

        &::-webkit-slider-thumb {
            background-color: vars.$input-range-thumb-disabled-bg;
            box-shadow: none;
        }

        &::-moz-range-thumb {
            background-color: vars.$input-range-thumb-disabled-bg;
            box-shadow: none;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .input-range:not(:disabled):hover {
        &::-webkit-slider-thumb {
            transform: scale(1.08);
        }

        &::-moz-range-thumb {
            transform: scale(1.08);
        }
    }

    .input-range:not(:disabled):active {
        &::-webkit-slider-thumb {
            transform: scale(.94);
        }

        &::-moz-range-thumb {
            transform: scale(.94);
        }
    }
}

@media (forced-colors: active) {
    .input-range {
        forced-color-adjust: none;

        &::-webkit-slider-thumb {
            background-color: ButtonText;
        }

        &::-webkit-slider-runnable-track {
            background-color: ButtonFace;
            border: 1px solid ButtonText;
            box-shadow: none;
        }

        &::-moz-range-thumb {
            background-color: ButtonText;
        }

        &::-moz-range-track {
            background-color: ButtonFace;
            border: 1px solid ButtonText;
            box-shadow: none;
        }

        &:disabled {
            &::-webkit-slider-thumb {
                background-color: GrayText;
            }

            &::-moz-range-thumb {
                background-color: GrayText;
            }
        }
    }
}
