@use "../mixins";
@use "../vars";

@use "sass:selector";

.form-input {
    position: relative;
    width: 100%;
}

.input-filled,
.input-outline {
    display: block;
    width: 100%;
    padding: vars.$input-padding-y vars.$input-padding-x;
    font-size: vars.$input-font-size;
    line-height: vars.$input-line-height;
    color: vars.$input-color;

    &::placeholder {
        color: vars.$input-placeholder-color;
    }

    &:hover {
        z-index: 1;
    }

    &:focus {
        z-index: 2;
        outline: 0;
    }

    &:active,
    &.active {
        z-index: 3;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;

        &,
        &:hover {
            background-color: vars.$input-disabled-bg;
        }
    }

    &[readonly],
    &.readonly {
        color: vars.$input-placeholder-color;
    }

    @at-root #{selector.append("select", &)} {
        appearance: none;

        &:not([multiple]) {
            @at-root {
                #{&},
                #{selector.nest("[data-ui-theme=\"light\"]", &)} {
                    --ui-select-arrow-background-image: #{vars.$input-select-arrow-background-image};
                }

                #{selector.nest("[data-ui-theme=\"dark\"]", &)} {
                    --ui-select-arrow-background-image: #{vars.$input-select-arrow-background-image-dark};
                }
            }

            padding-right: calc(#{vars.$input-padding-x * 2} + #{vars.$input-select-arrow-size});
            background-image: var(--ui-select-arrow-background-image);
            background-repeat: no-repeat;
            background-position: right vars.$input-padding-x center;
            background-size: vars.$input-select-arrow-size #{vars.$input-select-arrow-size * .75};
        }

        &[multiple] {
            padding: 0;

            option {
                padding: vars.$input-padding-y vars.$input-padding-x;
            }
        }
    }

    &[type="file"] {
        overflow: hidden;

        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
    }

    &::file-selector-button {
        padding: vars.$input-padding-y vars.$input-padding-x;
        margin: (-(vars.$input-padding-y)) (-(vars.$input-padding-x));
        margin-inline-end: vars.$input-padding-x;
        color: vars.$input-file-button-color;
        pointer-events: none;
        background-color: vars.$input-file-button-bg;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: vars.$input-border-width;
        border-radius: 0;
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--ui-secondary-bg);
    }

    &::-webkit-date-and-time-value {
        min-width: 85px;
        margin: 0;
    }

    &::-webkit-datetime-edit {
        display: block;
        padding: 0;
    }
}

.input-filled {
    background-color: var(--ui-input-filled-bg, #{vars.$input-filled-bg});
    border: 0;
    border-bottom: vars.$input-border-width var(--ui-border-style) var(--ui-input-filled-border-color, #{vars.$input-filled-border-color});

    &:hover {
        background-color: var(--ui-input-filled-hover-bg, #{vars.$input-filled-hover-bg});
    }

    &:focus,
    &.focus {
        background-color: var(--ui-input-filled-focus-bg, #{vars.$input-filled-focus-bg});
    }
}

.input-outline {
    background-color: vars.$input-outline-bg;
    border: vars.$input-border-width var(--ui-border-style) var(--ui-input-border-color, #{vars.$input-border-color});
    @include mixins.border-radius(vars.$input-outline-border-radius);

    &:hover {
        border-color: vars.$input-outline-hover-border-color;
    }

    &:focus,
    &.focus {
        border-color: vars.$input-outline-focus-border-color;
        box-shadow: 0 0 0 vars.$input-outline-focus-shadow-width vars.$input-outline-focus-shadow-color;
    }
}

.input-sm {
    min-height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-sm-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding: vars.$input-sm-padding-y vars.$input-sm-padding-x;
    font-size: vars.$input-sm-font-size;

    &::file-selector-button {
        padding: vars.$input-sm-padding-y vars.$input-sm-padding-x;
        margin: (-(vars.$input-sm-padding-y)) (-(vars.$input-sm-padding-x));
        margin-inline-end: vars.$input-sm-padding-x;
    }

    @at-root select#{&}[multiple] option {
        padding: vars.$input-sm-padding-y vars.$input-sm-padding-x;
    }
}

.input-lg {
    min-height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-lg-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding: vars.$input-lg-padding-y vars.$input-lg-padding-x;
    font-size: vars.$input-lg-font-size;

    &::file-selector-button {
        padding: vars.$input-lg-padding-y vars.$input-lg-padding-x;
        margin: (-(vars.$input-lg-padding-y)) (-(vars.$input-lg-padding-x));
        margin-inline-end: vars.$input-lg-padding-x;
    }

    @at-root select#{&}[multiple] option {
        padding: vars.$input-lg-padding-y vars.$input-lg-padding-x;
    }
}

.form-input-color {
    width: vars.$input-color-width;
}

.input-color {
    width: vars.$input-color-width;
    height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding: vars.$input-padding-y;

    &:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

    &::-moz-color-swatch {
        border: 0 !important;
    }

    &::-webkit-color-swatch {
        border: 0 !important;
    }

    &.input-sm {
        height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-sm-padding-y * 2} + (#{vars.$input-border-width} * 2));
    }

    &.input-lg {
        height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-lg-padding-y * 2} + (#{vars.$input-border-width} * 2));
    }

    &.input-outline {
        &::-moz-color-swatch {
            @include mixins.border-radius(vars.$input-outline-border-radius);
        }

        &::-webkit-color-swatch {
            @include mixins.border-radius(vars.$input-outline-border-radius);
        }
    }
}

.ripple-line {
    position: absolute;
    inset-inline-start: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    height: calc(vars.$input-border-width * 2);
    background-color: vars.$ripple-line-bg;
    opacity: 0;
    transform: scaleX(0);
    transition: all vars.$transition-time vars.$transition-type;
    transition-property: transform, opacity;

    @at-root {

        .input-filled:focus~#{&},
        .input-filled.focus~#{&} {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}
