@use "../mixins";
@use "../vars";

@use "sass:selector";

.form-input {
    position: relative;
    width: 100%;

    &:has(>.input-color) {
        width: vars.$input-color-width;
    }
}

.input-filled,
.input-outline {
    display: block;
    width: 100%;
    min-height: vars.$input-min-height;
    padding-block: vars.$input-padding-y;
    padding-inline: vars.$input-padding-x;
    font-size: vars.$input-font-size;
    line-height: vars.$input-line-height;
    color: vars.$input-color;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: background-color, background-size, border-color, box-shadow;

    &::placeholder {
        color: vars.$input-placeholder-color;
    }

    &:hover {
        z-index: 1;
    }

    &:focus {
        z-index: 2;
        outline: 0;
    }

    &:is(:active, .active) {
        z-index: 3;
    }

    &:is(:disabled, .disabled) {
        pointer-events: none;

        &,
        &:hover {
            background-color: vars.$input-disabled-bg;
        }
    }

    &:is([readonly], .readonly) {
        color: vars.$input-placeholder-color;
    }

    @at-root #{selector.append("select", &)} {
        appearance: none;

        &:not([multiple]) {
            padding-inline-end: calc(#{vars.$input-padding-x * 2} + #{vars.$input-select-arrow-size});
            background-image: var(--ui-select-arrow-background-image);
            background-repeat: no-repeat;
            background-position: right vars.$input-padding-x center;
            background-size: vars.$input-select-arrow-size #{vars.$input-select-arrow-size * .75};

            &:dir(rtl) {
                background-position-x: left vars.$input-padding-x;
            }
        }

        &[multiple] {
            padding: 0;

            option {
                padding-block: vars.$input-padding-y;
                padding-inline: vars.$input-padding-x;
            }
        }
    }

    &[type="file"] {
        overflow: hidden;

        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
    }

    &::file-selector-button {
        padding-block: vars.$input-padding-y;
        padding-inline: vars.$input-padding-x;
        margin-block: -(vars.$input-padding-y);
        margin-inline: -(vars.$input-padding-x) vars.$input-padding-x;
        color: vars.$input-file-button-color;
        pointer-events: none;
        background-color: vars.$input-file-button-bg;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: vars.$input-border-width;
        border-radius: 0;
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: var(--ui-secondary-bg);
    }

    &::-webkit-date-and-time-value {
        min-width: 85px;
        margin: 0;
    }

    &::-webkit-datetime-edit {
        display: block;
        padding: 0;
    }
}

.input-filled {
    --ui-input-filled-focus-line-size: 0% calc(#{vars.$input-border-width} * 2);

    background-color: var(--ui-input-filled-bg, #{vars.$input-filled-bg});
    background-image: linear-gradient(vars.$input-filled-focus-border-color 0 0), linear-gradient(var(--ui-input-filled-border-color, #{vars.$input-filled-border-color}) 0 0);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-origin: border-box;
    background-size: var(--ui-input-filled-focus-line-size), 100% vars.$input-border-width;
    border: 0;
    border-block-end: vars.$input-border-width var(--ui-border-style) transparent;

    &:hover {
        background-color: var(--ui-input-filled-hover-bg, #{vars.$input-filled-hover-bg});
    }

    &:is(:focus, .focus) {
        --ui-input-filled-focus-line-size: 100% calc(#{vars.$input-border-width} * 2);

        background-color: var(--ui-input-filled-focus-bg, #{vars.$input-filled-focus-bg});
    }

    @at-root select#{&}:not([multiple]) {
        background-image: var(--ui-select-arrow-background-image), linear-gradient(vars.$input-filled-focus-border-color 0 0), linear-gradient(var(--ui-input-filled-border-color, #{vars.$input-filled-border-color}) 0 0);
        background-position: right vars.$input-padding-x center, center bottom, center bottom;
        background-origin: padding-box, border-box, border-box;
        background-size: vars.$input-select-arrow-size #{vars.$input-select-arrow-size * .75}, var(--ui-input-filled-focus-line-size), 100% vars.$input-border-width;

        &:dir(rtl) {
            background-position-x: left vars.$input-padding-x, center, center;
        }
    }
}

.input-outline {
    background-color: vars.$input-outline-bg;
    border: vars.$input-border-width var(--ui-border-style) var(--ui-input-border-color, #{vars.$input-border-color});
    @include mixins.border-radius(vars.$input-outline-border-radius);

    &:hover {
        border-color: vars.$input-outline-hover-border-color;
    }

    &:is(:focus, .focus) {
        border-color: vars.$input-outline-focus-border-color;
        box-shadow: 0 0 0 vars.$input-outline-focus-shadow-width vars.$input-outline-focus-shadow-color;
    }
}

.input-sm {
    min-height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-sm-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding-block: vars.$input-sm-padding-y;
    padding-inline: vars.$input-sm-padding-x;
    font-size: vars.$input-sm-font-size;

    &::file-selector-button {
        padding-block: vars.$input-sm-padding-y;
        padding-inline: vars.$input-sm-padding-x;
        margin-block: -(vars.$input-sm-padding-y);
        margin-inline: -(vars.$input-sm-padding-x) vars.$input-sm-padding-x;
    }

    @at-root select#{&}[multiple] option {
        padding-block: vars.$input-sm-padding-y;
        padding-inline: vars.$input-sm-padding-x;
    }
}

.input-lg {
    min-height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-lg-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding-block: vars.$input-lg-padding-y;
    padding-inline: vars.$input-lg-padding-x;
    font-size: vars.$input-lg-font-size;

    &::file-selector-button {
        padding-block: vars.$input-lg-padding-y;
        padding-inline: vars.$input-lg-padding-x;
        margin-block: -(vars.$input-lg-padding-y);
        margin-inline: -(vars.$input-lg-padding-x) vars.$input-lg-padding-x;
    }

    @at-root select#{&}[multiple] option {
        padding-block: vars.$input-lg-padding-y;
        padding-inline: vars.$input-lg-padding-x;
    }
}

.input-color {
    width: vars.$input-color-width;
    height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-padding-y * 2} + (#{vars.$input-border-width} * 2));
    padding: vars.$input-padding-y;

    &:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

    &::-moz-color-swatch {
        border: 0 !important;
    }

    &::-webkit-color-swatch {
        border: 0 !important;
    }

    &.input-sm {
        height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-sm-padding-y * 2} + (#{vars.$input-border-width} * 2));
    }

    &.input-lg {
        height: calc(#{vars.$input-line-height * 1em} + #{vars.$input-lg-padding-y * 2} + (#{vars.$input-border-width} * 2));
    }

    &.input-outline {
        &::-moz-color-swatch {
            @include mixins.border-radius(vars.$input-outline-border-radius);
        }

        &::-webkit-color-swatch {
            @include mixins.border-radius(vars.$input-outline-border-radius);
        }
    }
}
