@use "../mixins";
@use "../vars";

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    @include mixins.border-radius(vars.$input-outline-border-radius);

    >.form-input,
    >.input-filled,
    >.input-outline {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    >.btn {
        position: relative;
        z-index: 2;
    }

    >.form-input > .input-outline:focus,
    >.input-outline:focus,
    >.btn:focus {
        z-index: 3;
    }

    >.btn,
    >.form-input,
    >.input-filled,
    >.input-outline,
    >.input-group-text,
    >.form-input > .input-filled,
    >.form-input > .input-outline {
        @include mixins.border-radius(inherit);

        &:not(:last-child) {
            @include mixins.border-right-radius(0);
        }

        &:not(:first-child) {
            margin-left: calc(vars.$input-border-width * -1);
            @include mixins.border-left-radius(0);
        }
    }
}

.input-group-filled {
    @include mixins.border-radius(0);

    >.input-group-text {
        background-color: var(--ui-input-filled-bg, #{vars.$input-filled-bg});
        border: 0;
        border-bottom: vars.$input-border-width var(--ui-border-style) var(--ui-input-filled-border-color, #{vars.$input-filled-border-color});
    }
}

.input-group-sm {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        padding: vars.$input-sm-padding-y vars.$input-sm-padding-x;
        font-size: vars.$input-sm-font-size;
    }
}

.input-group-lg {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        padding: vars.$input-lg-padding-y vars.$input-lg-padding-x;
        font-size: vars.$input-lg-font-size;
    }
}
