@use "../mixins";
@use "../vars";

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    @include mixins.border-radius(vars.$input-outline-border-radius);

    >.form-input,
    >.input-filled,
    >.input-outline {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    >.btn {
        position: relative;
        z-index: 2;
    }

    >.form-input > .input-outline:focus,
    >.input-outline:focus,
    >.btn:focus {
        z-index: 3;
    }

    >.form-input > .input-outline:is(:focus, .focus),
    >.input-outline:is(:focus, .focus) {
        box-shadow: none;
    }

    >.btn,
    >.form-input,
    >.input-filled,
    >.input-outline,
    >.input-group-text,
    >.form-input > .input-filled,
    >.form-input > .input-outline {
        @include mixins.border-radius(inherit);

        &:not(:last-child) {
            @include mixins.border-end-radius(0);
        }

        &:not(:first-child) {
            margin-inline-start: calc(vars.$input-border-width * -1);
            @include mixins.border-start-radius(0);
        }
    }

    >.input-group-text {
        transition-timing-function: var(--ui-transition-timing-function);
        transition-duration: var(--ui-transition-duration-fast);
        transition-property: background-color, border-color;
    }

    &:has(.input-outline) {
        transition: box-shadow var(--ui-transition-duration-fast) var(--ui-transition-timing-function);
    }

    &:has(.input-outline:is(:focus, .focus)) {
        box-shadow: 0 0 0 vars.$input-outline-focus-shadow-width vars.$input-outline-focus-shadow-color;

        >.form-input > .input-outline,
        >.input-outline,
        >.input-group-text {
            border-color: vars.$input-outline-focus-border-color;
        }
    }

    &:has(.input-filled) {
        @include mixins.border-radius(0);

        &::after {
            position: absolute;
            inset-inline: 0;
            bottom: 0;
            z-index: 4;
            height: calc(vars.$input-border-width * 2);
            pointer-events: none;
            content: "";
            background-color: vars.$input-filled-focus-border-color;
            opacity: 0;
            transform: scaleX(0);
            transition-timing-function: var(--ui-transition-timing-function);
            transition-duration: var(--ui-transition-duration);
            transition-property: transform, opacity;
        }

        >.input-group-text {
            background-color: var(--ui-input-filled-bg, #{vars.$input-filled-bg});
            border: 0;
            border-bottom: vars.$input-border-width var(--ui-border-style) var(--ui-input-filled-border-color, #{vars.$input-filled-border-color});
        }
    }

    &:has(.input-filled:is(:focus, .focus)) {

        >.form-input > .input-filled,
        >.input-filled,
        >.input-group-text {
            --ui-input-filled-focus-line-size: 0% calc(#{vars.$input-border-width} * 2);

            background-color: var(--ui-input-filled-focus-bg, #{vars.$input-filled-focus-bg});
        }

        &::after {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}

.input-group-sm {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        padding: vars.$input-sm-padding-y vars.$input-sm-padding-x;
        font-size: vars.$input-sm-font-size;
    }
}

.input-group-lg {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        padding: vars.$input-lg-padding-y vars.$input-lg-padding-x;
        font-size: vars.$input-lg-font-size;
    }
}
