@use "../vars";

.col-label {
    padding-block: calc(#{vars.$input-padding-y} + #{vars.$input-border-width});
    margin-block-end: 0;
    font-size: inherit;
    line-height: vars.$input-line-height;
}

.col-label-sm {
    padding-block: calc(#{vars.$input-sm-padding-y} + #{vars.$input-border-width});
    font-size: vars.$input-sm-font-size;
}

.col-label-lg {
    padding-block: calc(#{vars.$input-lg-padding-y} + #{vars.$input-border-width});
    font-size: vars.$input-lg-font-size;
}

.label-floating {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: block;
    width: 100%;
    padding-block: vars.$label-floating-padding-y;
    padding-inline: vars.$input-padding-x;
    margin-block-end: 0;
    font-size: vars.$input-font-size;
    line-height: vars.$input-line-height;
    color: vars.$input-placeholder-color;
    pointer-events: none;
    cursor: text;
    transition-timing-function: var(--ui-transition-timing-function);
    transition-duration: var(--ui-transition-duration);
    transition-property: padding, font-size, color;
}

.input-floating {

    &,
    .input-group & {
        padding-block: vars.$label-floating-padding-y;
    }

    &::placeholder {
        color: transparent;
    }

    &.input-sm,
    .input-group-sm & {

        ~.label-floating {
            font-size: vars.$input-sm-font-size;
        }

    }

    &.input-lg,
    .input-group-lg & {

        ~.label-floating {
            font-size: vars.$input-lg-font-size;
        }
    }

    &.input-filled ~ .label-floating {
        border-block-end: vars.$input-border-width var(--ui-border-style) transparent;
    }

    &.input-outline ~ .label-floating {
        border: vars.$input-border-width var(--ui-border-style) transparent;
    }

    &:is(:focus, .focus, :not(:placeholder-shown)) {
        padding-block: vars.$input-padding-y + vars.$label-floating-padding-y vars.$input-padding-y * .5;

        ~.label-floating {
            padding-block-start: vars.$input-padding-y * .5;
            font-size: vars.$label-floating-font-size;
            color: vars.$label-floating-color;
        }
    }
}
