@use "../functions/color";
@use "../functions/helpers";

// colors
$white: #fff !default;
$gray: #64748b !default;
$black: #000 !default;

$blue: #315efb !default;
$red: #c71010 !default;
$orange: #f77625 !default;
$yellow: #ffdd30 !default;
$green: #008442 !default;
$teal: #0ebbbb !default;

// Public extension colors.
// fusv-disable
$indigo: #4f46e5 !default;
$purple: #7c3aed !default;
$pink: #ec4899 !default;
$cyan: #06b6d4 !default;
// fusv-enable

// base colors
$body-bg: $white !default;
$body-color: color.color-shade($gray, 900) !default;

$body-secondary-bg: color.color-shade($gray, 100) !default;
$body-secondary-color: helpers.color-alpha(body-color, .7) !default;

$body-tertiary-bg: color.color-shade($gray, 50) !default;
$body-tertiary-color: helpers.color-alpha(body-color, .5) !default;

$emphasis-color: $black !default;

$link-color: $blue !default;
$link-color-hover: color.color-shade($blue, 700) !default;

$border-color: color.color-shade($gray, 200) !default;
$border-color-translucent: helpers.color-alpha("black", .15) !default;

$code-color: color.color-shade($red, 400) !default;
$mark-bg: color.color-shade($yellow, 100) !default;

$gradient: linear-gradient(180deg, helpers.color-alpha("white", .25), helpers.color-alpha("white", 0)) !default;

// theme colors
$primary: $blue !default;
$secondary: color.color-shade($gray, 600) !default;
$success: $green !default;
$info: $teal !default;
$warning: $orange !default;
$danger: $red !default;
$light: color.color-shade($gray, 100) !default;
$dark: color.color-shade($gray, 800) !default;
