@use "../functions/color";
@use "../functions/helpers";
@use "colors";

// base colors
$body-bg-dark: color.color-shade(colors.$gray, 900) !default;
$body-color-dark: color.color-shade(colors.$gray, 200) !default;

$body-secondary-bg-dark: color.color-shade(colors.$gray, 800) !default;
$body-secondary-color-dark: helpers.color-alpha(body-color, .7) !default;

$body-tertiary-bg-dark: color.color-shade(colors.$gray, 850) !default;
$body-tertiary-color-dark: helpers.color-alpha(body-color, .5) !default;

$emphasis-color-dark: colors.$white !default;

$link-color-dark: color.color-shade(colors.$primary, 350) !default;
$link-color-hover-dark: color.color-shade(colors.$primary, 150) !default;

$border-color-dark: color.color-shade(colors.$gray, 700) !default;
$border-color-translucent-dark: helpers.color-alpha("white", .15) !default;
