@use "../functions/helpers";

// base colors
$body-bg-dark: color-mix(in srgb, var(--ui-gray) 20%, var(--ui-black)) !default;
$body-color-dark: color-mix(in srgb, var(--ui-gray) 40%, var(--ui-white)) !default;

$body-secondary-bg-dark: color-mix(in srgb, var(--ui-gray) 40%, var(--ui-black)) !default;
$body-secondary-color-dark: helpers.color-alpha(body-color, .7) !default;

$body-tertiary-bg-dark: color-mix(in srgb, var(--ui-gray) 32.5%, var(--ui-black)) !default;
$body-tertiary-color-dark: helpers.color-alpha(body-color, .5) !default;

$emphasis-color-dark: var(--ui-white) !default;

$link-color-dark: color-mix(in oklch, var(--ui-primary) 70%, var(--ui-white)) !default;
$link-color-hover-dark: color-mix(in oklch, var(--ui-primary) 30%, var(--ui-white)) !default;

$border-color-dark: color-mix(in srgb, var(--ui-gray) 60%, var(--ui-black)) !default;
$border-color-translucent-dark: helpers.color-alpha("white", .15) !default;
