@use "maps";
@use "vars";

@use "sass:list";

// caret
$caret-spacing: vars.$spacing * .5 !default;
$caret-vertical-align: .2em !default;
$caret-size: .25em !default;

// color links
$color-link-variants: maps.$utilities-colors !default;

// ratio
$ratios: (
    1x1: list.slash(1, 1),
    4x3: list.slash(4, 3),
    16x9: list.slash(16, 9),
    21x9: list.slash(21, 9)
) !default;

// ripple
$ripple-opacity: .3 !default;
$ripple-bg: rgba(var(--ui-white-rgb), var(--ui-ripple-opacity)) !default;
