@use "colors";
@use "../functions/helpers";

@use "sass:map";

$color-variants: (
    primary: colors.$primary,
    accent: colors.$accent,
    secondary: colors.$secondary,
    success: colors.$success,
    info: colors.$info,
    warning: colors.$warning,
    danger: colors.$danger,
    light: colors.$light,
    dark: colors.$dark
) !default;

$generated-subtle-colors: ();
$generated-subtle-text-colors: ();
$generated-emphasis-colors: ();

@each $name in map.keys($color-variants) {
    $subtle-name: #{$name}-subtle;
    $subtle-text-name: #{$name}-subtle-text;
    $emphasis-name: #{$name}-emphasis;

    $generated-subtle-colors: map.set($generated-subtle-colors, $subtle-name, var(--ui-#{$subtle-name}));
    $generated-subtle-text-colors: map.set($generated-subtle-text-colors, $subtle-name, helpers.color-alpha($subtle-text-name, var(--ui-text-opacity)));
    $generated-emphasis-colors: map.set($generated-emphasis-colors, $emphasis-name, var(--ui-#{$emphasis-name}));
}

$subtle-colors: $generated-subtle-colors !default;
$subtle-text-colors: $generated-subtle-text-colors !default;
$emphasis-colors: $generated-emphasis-colors !default;

$utilities-colors: map.merge(
    $color-variants,
    (
        black: colors.$black,
        white: colors.$white
    )
) !default;

$utilities-text-colors: map.merge(helpers.map-loop(map.merge($utilities-colors, $emphasis-colors), color-alpha, "$key", var(--ui-text-opacity)), $subtle-text-colors) !default;
$utilities-border-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-border-opacity)) !default;
$utilities-bg-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-bg-opacity)) !default;
$utilities-link-underline-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-link-underline-opacity)) !default;
$utilities-focus-ring-colors: helpers.map-loop($utilities-colors, color-alpha, "$key", var(--ui-focus-ring-opacity)) !default;
