@use "colors";
@use "../functions/helpers";

@use "sass:map";

$color-variants: (
    primary: colors.$primary,
    secondary: colors.$secondary,
    success: colors.$success,
    info: colors.$info,
    warning: colors.$warning,
    danger: colors.$danger,
    light: colors.$light,
    dark: colors.$dark
) !default;

$subtle-colors: (
    primary-subtle: var(--ui-primary-subtle),
    secondary-subtle: var(--ui-secondary-subtle),
    success-subtle: var(--ui-success-subtle),
    info-subtle: var(--ui-info-subtle),
    warning-subtle: var(--ui-warning-subtle),
    danger-subtle: var(--ui-danger-subtle),
    light-subtle: var(--ui-light-subtle),
    dark-subtle: var(--ui-dark-subtle)
) !default;

$emphasis-colors: (
    primary-emphasis: var(--ui-primary-emphasis),
    secondary-emphasis: var(--ui-secondary-emphasis),
    success-emphasis: var(--ui-success-emphasis),
    info-emphasis: var(--ui-info-emphasis),
    warning-emphasis: var(--ui-warning-emphasis),
    danger-emphasis: var(--ui-danger-emphasis),
    light-emphasis: var(--ui-light-emphasis),
    dark-emphasis: var(--ui-dark-emphasis)
) !default;

$utilities-colors: map.merge(
    $color-variants,
    (
        black: colors.$black,
        white: colors.$white
    )
) !default;

$utilities-text-colors: helpers.map-loop(map.merge($utilities-colors, $emphasis-colors), color-alpha, "$key", var(--ui-text-opacity)) !default;
$utilities-border-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-border-opacity)) !default;
$utilities-bg-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-bg-opacity)) !default;
$utilities-link-underline-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-link-underline-opacity)) !default;
$utilities-focus-ring-colors: helpers.map-loop($utilities-colors, color-alpha, "$key", var(--ui-focus-ring-opacity)) !default;
