@use "colors";
@use "../functions/helpers";

@use "sass:map";

$color-variants: (
    primary: colors.$primary,
    secondary: colors.$secondary,
    success: colors.$success,
    info: colors.$info,
    warning: colors.$warning,
    danger: colors.$danger,
    light: colors.$light,
    dark: colors.$dark
) !default;

$subtle-colors: (
    primary-subtle: colors.$primary-subtle,
    secondary-subtle: colors.$secondary-subtle,
    success-subtle: colors.$success-subtle,
    info-subtle: colors.$info-subtle,
    warning-subtle: colors.$warning-subtle,
    danger-subtle: colors.$danger-subtle,
    light-subtle: colors.$light-subtle,
    dark-subtle: colors.$dark-subtle
) !default;

$emphasis-colors: (
    primary-emphasis: colors.$primary-emphasis,
    secondary-emphasis: colors.$secondary-emphasis,
    success-emphasis: colors.$success-emphasis,
    info-emphasis: colors.$info-emphasis,
    warning-emphasis: colors.$warning-emphasis,
    danger-emphasis: colors.$danger-emphasis,
    light-emphasis: colors.$light-emphasis,
    dark-emphasis: colors.$dark-emphasis
) !default;

$utilities-colors: map.merge(
    $color-variants,
    (
        black: colors.$black,
        white: colors.$white
    )
) !default;

$utilities-text-colors: helpers.map-loop(map.merge($utilities-colors, $emphasis-colors), color-alpha, "$key", var(--ui-text-opacity)) !default;
$utilities-border-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-border-opacity)) !default;
$utilities-bg-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-bg-opacity)) !default;
$utilities-link-underline-colors: helpers.map-loop(map.merge($utilities-colors, $subtle-colors), color-alpha, "$key", var(--ui-link-underline-opacity)) !default;
$utilities-focus-ring-colors: helpers.map-loop($utilities-colors, color-alpha, "$key", var(--ui-focus-ring-opacity)) !default;
