@use "../functions";
@use "../mixins";
@use "../vars";

.container,
.container-fluid {
    width: 100%;
    padding-right: vars.$gutter-x * .5;
    padding-left: vars.$gutter-x * .5;
    margin-right: auto;
    margin-left: auto;
}

@each $breakpoint, $max-width in vars.$containers {
    .container-#{$breakpoint} {
        @extend .container-fluid;
    }

    $extend-breakpoint: true;
    @include mixins.media-breakpoint-up($breakpoint) {
        %responsive-container-#{$breakpoint} {
            max-width: $max-width;
        }

        @each $name, $width in vars.$breakpoints {
            @if ($extend-breakpoint) {
                $infix: functions.breakpoint-infix($name);

                .container#{$infix} {
                    @extend %responsive-container-#{$breakpoint};
                }

                @if ($breakpoint == $name) {
                    $extend-breakpoint: false;
                }
            }
        }
    }
}
