@use "functions";
@use "mixins";
@use "vars";

@use "sass:map";

// background
@include mixins.utility((
    property: background-color,
    class: bg,
    values: map.merge(vars.$utilities-bg-colors, (
        body-secondary: var(--ui-secondary-bg),
        body-tertiary: var(--ui-tertiary-bg),
        transparent: transparent
    )),
    local-vars: (
        bg-opacity: 1
    )
));
@include mixins.utility((
    property: bg-opacity,
    values: vars.$opacities,
    css-var: true
));

// border
@include mixins.utility((
    property: border,
    values: (
        null: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color),
        0: 0
    )
));
@include mixins.utility((
    property: border-block-start,
    class: border-top,
    values: (
        null: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color),
        0: 0
    )
));
@include mixins.utility((
    property: border-inline-end,
    class: border-end,
    values: (
        null: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color),
        0: 0
    )
));
@include mixins.utility((
    property: border-block-end,
    class: border-bottom,
    values: (
        null: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color),
        0: 0
    )
));
@include mixins.utility((
    property: border-inline-start,
    class: border-start,
    values: (
        null: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color),
        0: 0
    )
));
@include mixins.utility((
    property: border-color,
    class: border,
    values: vars.$utilities-border-colors,
    local-vars: (
        border-opacity: 1
    )
));
@include mixins.utility((
    property: border-opacity,
    values: vars.$opacities,
    css-var: true
));
@include mixins.utility((
    property: border-width,
    class: border,
    values: (
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px
    )
));
@include mixins.utility((
    property: border-radius,
    class: rounded,
    values: (
        null: var(--ui-border-radius),
        0: 0,
        1: var(--ui-border-radius-sm),
        2: var(--ui-border-radius),
        3: var(--ui-border-radius-lg),
        4: var(--ui-border-radius-xl),
        5: var(--ui-border-radius-xxl),
        circle: 50%,
        pill: var(--ui-border-radius-pill)
    )
));
@include mixins.utility((
    property: border-start-start-radius border-start-end-radius,
    class: rounded-top,
    values: (
        null: var(--ui-border-radius),
        0: 0,
        1: var(--ui-border-radius-sm),
        2: var(--ui-border-radius),
        3: var(--ui-border-radius-lg),
        4: var(--ui-border-radius-xl),
        5: var(--ui-border-radius-xxl),
        circle: 50%,
        pill: var(--ui-border-radius-pill)
    )
));
@include mixins.utility((
    property: border-start-end-radius border-end-end-radius,
    class: rounded-end,
    values: (
        null: var(--ui-border-radius),
        0: 0,
        1: var(--ui-border-radius-sm),
        2: var(--ui-border-radius),
        3: var(--ui-border-radius-lg),
        4: var(--ui-border-radius-xl),
        5: var(--ui-border-radius-xxl),
        circle: 50%,
        pill: var(--ui-border-radius-pill)
    )
));
@include mixins.utility((
    property: border-end-start-radius border-end-end-radius,
    class: rounded-bottom,
    values: (
        null: var(--ui-border-radius),
        0: 0,
        1: var(--ui-border-radius-sm),
        2: var(--ui-border-radius),
        3: var(--ui-border-radius-lg),
        4: var(--ui-border-radius-xl),
        5: var(--ui-border-radius-xxl),
        circle: 50%,
        pill: var(--ui-border-radius-pill)
    )
));
@include mixins.utility((
    property: border-start-start-radius border-end-start-radius,
    class: rounded-start,
    values: (
        null: var(--ui-border-radius),
        0: 0,
        1: var(--ui-border-radius-sm),
        2: var(--ui-border-radius),
        3: var(--ui-border-radius-lg),
        4: var(--ui-border-radius-xl),
        5: var(--ui-border-radius-xxl),
        circle: 50%,
        pill: var(--ui-border-radius-pill)
    )
));

// colors
@include mixins.utility((
    property: color,
    class: text,
    values: map.merge(vars.$utilities-text-colors, (
        body: var(--ui-body-color),
        body-secondary: var(--ui-secondary-color),
        body-tertiary: var(--ui-tertiary-color),
        body-emphasis: var(--ui-emphasis-color),
        reset: inherit
    )),
    local-vars: (
        text-opacity: 1
    )
));
@include mixins.utility((
    property: text-opacity,
    values: vars.$opacities,
    css-var: true
));

// display
@include mixins.utility((
    property: display,
    class: d,
    values: inline inline-block block table table-cell table-row flex inline-flex grid inline-grid none,
    responsive: true,
    print: true
));

// flex
@include mixins.utility((
    property: flex-direction,
    class: flex,
    values: row column row-reverse column-reverse,
    responsive: true
));
@include mixins.utility((
    property: justify-content,
    values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly
    ),
    responsive: true
));
@include mixins.utility((
    property: align-items,
    values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
    ),
    responsive: true
));
@include mixins.utility((
    property: align-self,
    values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
    ),
    responsive: true
));
@include mixins.utility((
    property: flex,
    values: (
        fill: 1 1 auto
    ),
    responsive: true
));
@include mixins.utility((
    property: flex-grow,
    class: flex,
    values: (
        grow-0: 0,
        grow-1: 1
    ),
    responsive: true
));
@include mixins.utility((
    property: flex-shrink,
    class: flex,
    values: (
        shrink-0: 0,
        shrink-1: 1
    ),
    responsive: true
));
@include mixins.utility((
    property: flex-wrap,
    class: flex,
    values: wrap nowrap wrap-reverse,
    responsive: true
));
@include mixins.utility((
    property: order,
    values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        last: 6
    ),
    responsive: true
));
@include mixins.utility((
    property: align-content,
    values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch
    ),
    responsive: true
));

// float
@include mixins.utility((
    property: float,
    values: (
        start: inline-start,
        end: inline-end,
        none: none
    ),
    responsive: true
));

// interaction
@include mixins.utility((
    property: user-select,
    values: auto all none
));
@include mixins.utility((
    property: pointer-events,
    class: pe,
    values: auto none,
));

// link
@include mixins.utility((
    property: link-opacity,
    values: vars.$opacities,
    state: hover,
    css-var: true
));
@include mixins.utility((
    property: text-underline-offset,
    class: link-offset,
    values: (
        1: .125em,
        2: .25em,
        3: .375em,
    ),
    state: hover
));
@include mixins.utility((
    property: text-decoration-color,
    class: link-underline,
    values: map.merge(
        vars.$utilities-link-underline-colors,
        (
            null: functions.color-alpha(link-color, var(--ui-link-underline-opacity))
        )
    ),
    local-vars: (
        link-underline-opacity: 1
    )
));
@include mixins.utility((
    property: link-underline-opacity,
    values: vars.$opacities,
    state: hover,
    css-var: true
));

// object-fit
@include mixins.utility((
    property: object-fit,
    values: (
        contain: contain,
        cover: cover,
        fill: fill,
        scale: scale-down,
        none: none,
    ),
    responsive: true
));

// opacity
@include mixins.utility((
    property: opacity,
    values: vars.$opacities
));

// outline
@include mixins.utility((
    property: outline,
    values: 0
));

// overflow
@include mixins.utility((
    property: overflow,
    values: auto hidden visible scroll
));
@include mixins.utility((
    property: overflow-x,
    values: auto hidden visible scroll
));
@include mixins.utility((
    property: overflow-y,
    values: auto hidden visible scroll
));

// position
@include mixins.utility((
    property: position,
    values: static relative absolute fixed sticky
));
@include mixins.utility((
    property: top,
    values: vars.$positions
));
@include mixins.utility((
    property: inset-inline-end,
    class: end,
    values: vars.$positions
));
@include mixins.utility((
    property: bottom,
    values: vars.$positions
));
@include mixins.utility((
    property: inset-inline-start,
    class: start,
    values: vars.$positions
));
@include mixins.utility((
    property: transform,
    class: translate-middle,
    values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%)
    )
));

.translate-middle:dir(rtl) {
    transform: translate(50%, -50%) !important;
}

.translate-middle-x:dir(rtl) {
    transform: translateX(50%) !important;
}

// resize
@include mixins.utility((
    property: resize,
    values: (
        none: none,
        both: both,
        x: horizontal,
        y: vertical
    )
));

// shadow
@include mixins.utility((
    property: box-shadow,
    class: shadow,
    values: (
        null: var(--ui-shadow),
        sm: var(--ui-shadow-sm),
        lg: var(--ui-shadow-lg),
        none: none
    )
));
@include mixins.utility((
    property: focus-ring-color,
    class: focus-ring,
    values: vars.$utilities-focus-ring-colors,
    css-var: true
));

// sizing
@include mixins.utility((
    property: width,
    class: w,
    values: vars.$sizes
));
@include mixins.utility((
    property: height,
    class: h,
    values: vars.$sizes
));
@include mixins.utility((
    property: max-width,
    class: max-w,
    values: (100: 100%)
));
@include mixins.utility((
    property: max-height,
    class: max-h,
    values: (100: 100%)
));
@include mixins.utility((
    property: min-width,
    class: min-w,
    values: (0: 0)
));
@include mixins.utility((
    property: min-height,
    class: min-h,
    values: (0: 0)
));
@include mixins.utility((
    property: width,
    class: vw,
    values: (100: 100vw)
));
@include mixins.utility((
    property: height,
    class: vh,
    values: (100: 100vh)
));
@include mixins.utility((
    property: min-width,
    class: min-vw,
    values: (100: 100vw)
));
@include mixins.utility((
    property: min-height,
    class: min-vh,
    values: (100: 100vh)
));
@include mixins.utility((
    property: width,
    class: dvw,
    values: (100: 100dvw)
));
@include mixins.utility((
    property: height,
    class: dvh,
    values: (100: 100dvh)
));
@include mixins.utility((
    property: min-width,
    class: min-dvw,
    values: (100: 100dvw)
));
@include mixins.utility((
    property: min-height,
    class: min-dvh,
    values: (100: 100dvh)
));

// spacing
@include mixins.utility((
    property: padding,
    class: p,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-block,
    class: py,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-inline,
    class: px,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-top,
    class: pt,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-inline-end,
    class: pe,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-bottom,
    class: pb,
    values: vars.$paddings,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: padding-inline-start,
    class: ps,
    values: vars.$paddings,
    responsive: true,
    print: true
));

@include mixins.utility((
    property: margin,
    class: m,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-block,
    class: my,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-inline,
    class: mx,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-top,
    class: mt,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-inline-end,
    class: me,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-bottom,
    class: mb,
    values: vars.$margins,
    responsive: true,
    print: true
));
@include mixins.utility((
    property: margin-inline-start,
    class: ms,
    values: vars.$margins,
    responsive: true,
    print: true
));

@include mixins.utility((
    property: gap,
    values: vars.$gaps,
    responsive: true,
    print: true
));

// text
@include mixins.utility((
    property: text-align,
    class: text,
    values: (
        start: start,
        center: center,
        end: end,
        justify: justify
    ),
    responsive: true
));
@include mixins.utility((
    property: white-space,
    class: text,
    values: (
        wrap: normal,
        nowrap: nowrap
    )
));
@include mixins.utility((
    property: word-break overflow-wrap,
    class: text,
    values: (break: break-word)
));
@include mixins.utility((
    property: text-transform,
    class: text,
    values: lowercase uppercase capitalize
));
@include mixins.utility((
    property: font-size,
    class: fs,
    values: vars.$font-sizes
));
@include mixins.utility((
    property: font-weight,
    class: fw,
    values: vars.$font-weights
));
@include mixins.utility((
    property: font-style,
    class: fst,
    values: italic normal
));
@include mixins.utility((
    property: line-height,
    class: lh,
    values: vars.$line-heights
));
@include mixins.utility((
    property: font-family,
    class: font,
    values: (monospace: vars.$font-monospace)
));
@include mixins.utility((
    property: text-decoration,
    values: underline line-through none
));

// vertical-align
@include mixins.utility((
    property: vertical-align,
    class: align,
    values: baseline top middle bottom text-top text-bottom
));

// visibility
@include mixins.utility((
    property: visibility,
    class: null,
    values: (
        visible: visible,
        invisible: hidden
    )
));

// z-index
@include mixins.utility((
    property: z-index,
    class: z,
    values: (
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        n1: -1
    )
));
